<div class="row test-suoritus">
    <div class="form-group col-sm-3">
        <strong oph-msg="suoritusrekisteri.muokkaa.hakemus">Hakemus</strong>
        <div class="test-suoritusMyontaja">
            <a href="{{hakemusLink(suoritus.myontaja)}}" target="_blank">{{suoritus.myontaja}}</a>
        </div>
    </div>
    <div class="form-group col-sm-5">
        <strong oph-msg="suoritusrekisteri.muokkaa.suoritus">Suoritus</strong>
        <div class="test-suoritusKoulutus">{{ammatillinenKielikoeText}}</div>
    </div>
</div>
<div ng-include="'templates/kielikoearvosanat.html'" ng-controller="KielikoeArvosanat"></div>
<div class="row">
    <div class="form-group col-sm-12">
        <div class="pull-right">
            <button ng-show="isOPH() && info.editable" type="button" ng-click="poistaSuoritus()"
                    class="btn btn-default arvosana-button test-suoritusPoista">
                <span oph-msg="suoritusrekisteri.muokkaa.poistasuoritus">Poista</span>
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
</div>
