<div class="row">
    <div class="form-group col-sm-3"><strong oph-msg="suoritusrekisteri.muokkaa.kieli">Kieli</strong></div>
    <div class="form-group col-sm-5"><strong oph-msg="suoritusrekisteri.muokkaa.valmistumispaiva">Valmistumispäivä</strong></div>
    <div class="form-group col-sm-4"><strong oph-msg="suoritusrekisteri.muokkaa.tulos">Tulos</strong></div>
</div>
<div class="row" ng-repeat="arvosana in arvosanat">
    <div class="form-group col-sm-3">
        <span class="test-suoritusKieli">{{resolveValueFromOptionArray(arvosana.lisatieto, kielet)}}</span>
    </div>
    <div class="form-group col-sm-5">
        <div class="input-group">
            <input type="text"
                   ng-disabled="info.delete || editSuoritusDisabled(suoritus)"
                   ng-model="arvosana.myonnetty"
                   ng-change="markModified(arvosana)"
                   title="Syötä päivä muodossa 1.1.2014 (ilman etunollia)"
                   datepicker-popup="{{format}}"
                   datepicker-options="dateOptions"
                   datepicker-append-to-body="true"
                   is-open="valmistuminenOpen"
                   ng-click="valmistuminenOpen = true"
                   show-button-bar="false"
                   customdateparser
                   class="form-control input-sm datepicker test-suoritusValmistuminen" />
            <span class="input-group-btn">
                <button type="button"
                        ng-disabled="info.delete || editSuoritusDisabled(suoritus)"
                        ng-click="arvosana.myonnetty = null"
                        class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"> </span>
                </button>
            </span>
        </div>
    </div>
    <div class="form-group col-sm-4">
        <span ng-if="arvosana.arvio.arvosana === 'true'" class="test-suoritusTila" oph-msg="suoritusrekisteri.muokkaa.hyvaksytty">Hyväksytty</span>
        <span ng-if="arvosana.arvio.arvosana === 'false'" class="test-suoritusTila" oph-msg="suoritusrekisteri.muokkaa.hylatty">Hylätty</span>
    </div>
</div>
