<div class="row">
    <div class="col-sm-12">
        <section class="panel panel-default">
            <header class="panel-heading">
                <h2 oph-msg="suoritusrekisteri.muokkaa.henkilotiedot" id="henkiloTiedot" class="panel-title">Henkilötiedot</h2>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <div><strong oph-msg="suoritusrekisteri.muokkaa.henkilotunnus">Henkilötunnus /
                            syntymäaika</strong></div>
                        <div><span class="test-hetu">{{henkilo.hetu || henkilo.syntymaaika}}</span><strong ng-if="henkilo.duplicate">(DUPLIKAATTI)</strong>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div><strong oph-msg="suoritusrekisteri.muokkaa.sukunimi">Sukunimi</strong></div>
                        <div class="test-sukunimi">{{henkilo.sukunimi}}</div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div><strong oph-msg="suoritusrekisteri.muokkaa.etunimet">Etunimet</strong></div>
                        <div class="test-etunimi">{{henkilo.etunimet}}</div>
                    </div>
                </div>
                <aside>
                    <a href="/henkilo-ui/oppija/{{henkilo.oidHenkilo}}?permissionCheckService=SURE"
                       target="_blank" class="btn btn-default btn-xs">
                        <span oph-msg="suoritusrekisteri.muokkaa.henkilotietoja">Muokkaa henkilötietoja</span>
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </aside>
            </div>
        </section>
    </div>
</div>
<form ng-submit="saveTiedot()">
    <div class="row">
        <div class="col-sm-12">
            <section ng-if="!henkilo.virtatiedot" class="panel panel-default">
                <header class="panel-heading">
                    <h2 oph-msg="suoritusrekisteri.muokkaa.virtatiedot" class="panel-title">Tiedot Virta-järjestelmästä</h2>
                </header>
                <div class="panel-body">
                <aside>
                    <button type="button" class="btn btn-default btn-xs" ng-click="fetchVirtaTiedot()" ng-disabled="!henkilo.hetu || henkilo.virtatiedot">
                        <span oph-msg="suoritusrekisteri.muokkaa.naytavirtatiedot">Näytä tiedot Virta-järjestelmästä</span>
                        <span class="glyphicon glyphicon-list"></span>
                    </button>
                </aside>
                </div>
            </section>
            <section ng-if="henkilo.virtatiedot" class="panel panel-default">
                <header class="panel-heading">
                    <h2 oph-msg="suoritusrekisteri.muokkaa.virtatiedot" class="panel-title">Tiedot Virta-järjestelmästä</h2>
                </header>
                <div class="panel-body">
                    <div ng-if="henkilo.virtatiedot.opiskeluoikeudet.length === 0 && henkilo.virtatiedot.suoritukset.length === 0"
                         oph-msg="suoritusrekisteri.muokkaa.eivirtatietoja" class="alert alert-info">Ei tietoja Virta-järjestelmässä</div>
                    <div ng-if="henkilo.virtatiedot.opiskeluoikeudet.length > 0">
                        <a ng-show="clipboardSupported" ng-click="copyToClipboard(convertOpiskeluOikeudet(henkilo.virtatiedot.opiskeluoikeudet))" class="btn btn-default btn-xs pull-right">
                            <span oph-msg="suoritusrekisteri.muokkaa.kopioi">Vie leikepöydälle</span>
                            <span class="glyphicon glyphicon-export"></span>
                        </a>
                        <h3 oph-msg="suoritusrekisteri.muokkaa.opiskeluoikeudet">Opiskeluoikeudet</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th oph-msg="suoritusrekisteri.muokkaa.alkupaiva">Alkupäivä</th>
                                    <th oph-msg="suoritusrekisteri.muokkaa.loppupaiva">Loppupäivä</th>
                                    <th oph-msg="suoritusrekisteri.muokkaa.myontaja">Myöntäjä</th>
                                    <th oph-msg="suoritusrekisteri.muokkaa.koulutus">Koulutus</th>
                                    <th oph-msg="suoritusrekisteri.muokkaa.kieli">Kieli</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="opiskeluoikeus in henkilo.virtatiedot.opiskeluoikeudet">
                                    <td>{{opiskeluoikeus.alkuPvm}}</td>
                                    <td>{{opiskeluoikeus.loppuPvm}}</td>
                                    <td>{{formatMyontaja(opiskeluoikeus.organisaatio, opiskeluoikeus.myontaja)}}</td>
                                    <td>
                                        {{formatKoulutukset(opiskeluoikeus.koulutuskoodit)}}
                                    </td>
                                    <td>{{opiskeluoikeus.kieli}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="henkilo.virtatiedot.suoritukset.length > 0">
                        <a ng-show="clipboardSupported" ng-click="copyToClipboard(convertOpintosuoritukset(henkilo.virtatiedot.suoritukset))" class="btn btn-default btn-xs pull-right">
                            <span oph-msg="suoritusrekisteri.muokkaa.kopioi">Vie leikepöydälle</span>
                            <span class="glyphicon glyphicon-export"></span>
                        </a>
                        <h3 oph-msg="suoritusrekisteri.muokkaa.opintosuoritukset">Opintosuoritukset</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th oph-msg="suoritusrekisteri.muokkaa.laji">Laji</th>
                                    <th oph-msg="suoritusrekisteri.muokkaa.suoritusNimi">Nimi</th>
                                    <th oph-msg="suoritusrekisteri.muokkaa.arvosana">Arvosana</th>
                                    <th oph-msg="suoritusrekisteri.muokkaa.opintopisteet" style="white-space: nowrap;">Laajuus (op)</th>
                                    <th oph-msg="suoritusrekisteri.muokkaa.myontaja">Myöntäjä</th>
                                    <th oph-msg="suoritusrekisteri.muokkaa.suoritusPvm">Suorituspäivä</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="suoritus in henkilo.virtatiedot.suoritukset">
                                    <td>
                                        <span ng-switch="suoritus.laji">
                                            <span ng-switch-when="1" oph-msg="suoritusrekisteri.muokkaa.laji.tutkinto">Tutkinto</span>
                                            <span ng-switch-when="2" oph-msg="suoritusrekisteri.muokkaa.laji.muuopintosuoritus">Muu opintosuoritus</span>
                                            <span ng-switch-when="3" oph-msg="suoritusrekisteri.muokkaa.laji.eihuomioitava">Ei huomioitava</span>
                                            <span ng-switch-when="4" oph-msg="suoritusrekisteri.muokkaa.laji.sisainen">Oppilaitoksen sisäinen</span>
                                            <span ng-switch-default>{{suoritus.laji}}</span>
                                        </span>
                                    </td>
                                    <td>{{suoritus.nimi}}<span ng-if="suoritus.koulutuskoodi"> ({{suoritus.koulutuskoodi}})</span></td>
                                    <td>{{formatArvosana(suoritus.arvosana, suoritus.asteikko)}}</td>
                                    <td>{{suoritus.laajuus}}</td>
                                    <td>{{formatMyontaja(suoritus.organisaatio, suoritus.myontaja)}}</td>
                                    <td>{{suoritus.suoritusPvm}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <aside>
                        <button type="button" class="btn btn-default btn-xs" ng-click="fetchVirtaTiedot()" ng-disabled="!henkilo.hetu">
                            <span oph-msg="suoritusrekisteri.muokkaa.virtatiedotuudelleen">Hae tiedot Virta-järjestelmästä uudelleen</span>
                            <span class="glyphicon glyphicon-list"></span>
                        </button>
                    </aside>
                </div>
            </section>
            <section ng-if="henkilo.opiskeluoikeudet && henkilo.opiskeluoikeudet.length > 0" class="panel panel-default">
                <header class="panel-heading">
                    <h2 oph-msg="suoritusrekisteri.muokkaa.opiskeluoikeudet" class="panel-title">Opiskeluoikeudet</h2>
                </header>
                <div class="panel-body">
                    <ul class="list-unstyled entrylist">
                        <li ng-repeat="opiskeluoikeus in henkilo.opiskeluoikeudet">
                            <div class="row">
                                <div class="col-sm-2"><strong
                                        oph-msg="suoritusrekisteri.muokkaa.alkupaiva">Alkupäivä</strong>

                                    <div class="test-opiskeluoikeusAlkuPaiva">{{opiskeluoikeus.aika.alku | date:'dd.MM.yyyy'}}</div>
                                </div>
                                <div class="col-sm-2"><strong
                                        oph-msg="suoritusrekisteri.muokkaa.loppupaiva">Loppupäivä</strong>

                                    <div class="test-opiskeluoikeusLoppuPaiva">{{opiskeluoikeus.aika.loppu | date:'dd.MM.yyyy'}}</div>
                                </div>
                                <div class="col-sm-3"><strong
                                        oph-msg="suoritusrekisteri.muokkaa.myontaja">Myöntäjä</strong>

                                    <div class="test-opiskeluoikeusMyontaja">{{(opiskeluoikeus.organisaatio.oppilaitosKoodi + ' ' +
                                        (opiskeluoikeus.organisaatio.nimi.fi || opiskeluoikeus.organisaatio.nimi.sv ||
                                        opiskeluoikeus.organisaatio.nimi.en)) || opiskeluoikeus.myontaja}}
                                    </div>
                                </div>
                                <div class="col-sm-3"><strong
                                        oph-msg="suoritusrekisteri.muokkaa.koulutus">Koulutus</strong>

                                    <div class="test-opiskeluoikeusKoulutus">{{opiskeluoikeus.koulutus || opiskeluoikeus.komo}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="panel panel-default">
                <header class="panel-heading">
                    <h2 oph-msg="suoritusrekisteri.muokkaa.suoritukset" id="suoritusTiedot" class="panel-title">Suoritukset</h2>
                </header>
                <div class="panel-body">
                    <ul class="list-unstyled entrylist">
                        <li ng-repeat="suoritus in henkilo.suoritukset"
                            class="{{suoritus.delete ? 'delete-suoritus' : ''}}">
                            <div ng-if="!suoritus.vahvistettu" class="alert alert-info">
                                <span ng-if="isFromApplication(suoritus.myontaja)">
                                    {{ translate('suoritusrekisteri.suoritusHakijanIlmoittama') }}
                                    ({{ translate('suoritusrekisteri.hakemus') }}
                                    <a href="{{hakemusLink(suoritus.myontaja)}}" target="_blank">{{suoritus.myontaja}}</a>)
                                </span>
                                <span ng-if="!isFromApplication(suoritus.myontaja)" oph-msg="suoritusrekisteri.suoritusEiOleVahvistettu">
                                    Suoritus ei ole vahvistettu
                                </span>
                            </div>
                            <div ng-if="!isAmmatillinenKielikoe(suoritus.komo)" ng-include="'templates/muokkaa-suoritus.html'" ng-controller="MuokkaaSuoritus"></div>
                            <div ng-if="isAmmatillinenKielikoe(suoritus.komo)" ng-include="'templates/kielikoesuoritus.html'" ng-controller="MuokkaaSuoritus"></div>
                        </li>
                        <li>
                            <button type="button" ng-click="addSuoritus()" class="btn btn-default btn-xs test-suoritusLisaa">
                                <span oph-msg="suoritusrekisteri.muokkaa.uusisuoritus">Lisää uusi suoritus</span>
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <h2 oph-msg="suoritusrekisteri.muokkaa.luokkatiedot" id="luokkaTiedot" class="panel-title">Luokkatiedot</h2>
            </header>
            <div class="panel-body">
                <ul class="list-unstyled entrylist">
                    <li ng-repeat="luokkatieto in henkilo.luokkatiedot"
                        class="{{luokkatieto.delete ? 'delete-luokkatieto' : ''}}">
                        <div ng-include="'templates/muokkaa-luokkatieto.html'" ng-controller="MuokkaaLuokkatieto"></div>
                    </li>
                    <li>
                        <button type="button" ng-click="addLuokkatieto()" class="btn btn-default btn-xs test-luokkatietoLisaa">
                            <span oph-msg="suoritusrekisteri.muokkaa.uusiluokkatieto">Lisää uusi luokkatieto</span>
                            <span class="glyphicon glyphicon-plus"></span></button>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div ng-if="henkilo.vastaanotot">
        <section ng-if="henkilo.vastaanotot.opintopolku && henkilo.vastaanotot.opintopolku.length > 0 " class="panel panel-default">
            <header class="panel-heading">
                <h2 oph-msg="suoritusrekisteri.muokkaa.vastaanotot.opintopolku"  class="panel-title">Korkeakouluopiskelupaikkojen vastaanotot Opintopolussa</h2>
            </header>
            <div class="panel-body">
                <ul class="list-unstyled entrylist">
                    <li ng-repeat="vastaanotto in henkilo.vastaanotot.opintopolku">
                        <div class="row">
                            <div class="col-sm-3"><strong
                                    oph-msg="suoritusrekisteri.muokkaa.vastaanotot.haku">Haku</strong>
                                <div class="test-vastaanottoOpintopolkuHaku">{{vastaanotto.haku || vastaanotto.hakuOid}}</div>
                            </div>
                            <div class="col-sm-3"><strong
                                    oph-msg="suoritusrekisteri.muokkaa.vastaanotot.hakukohde">Hakukohde</strong>
                                <div class="test-vastaanottoOpintopolkuHakukohde">{{vastaanotto.hakukohde || vastaanotto.hakukohdeOid}}</div>
                            </div>
                            <div class="col-sm-2"><strong
                                    oph-msg="suoritusrekisteri.muokkaa.vastaanotot.tila">Tila</strong>
                                <div class="test-vastaanottoOpintopolkuTila" oph-msg="suoritusrekisteri.muokkaa.vastaanotot.tila.{{vastaanotto.vastaanottoAction}}">{{vastaanotto.vastaanottoAction}}</div>
                            </div>
                            <div class="col-sm-2"><strong
                                    oph-msg="suoritusrekisteri.muokkaa.vastaanotot.paivamaara">Päivämäärä</strong>
                                <div class="test-vastaanottoOpintopolkuPaivamaara">{{vastaanotto.vastaanottoaika | date:'dd.MM.yyyy'}}</div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section ng-if="henkilo.vastaanotot.vanhat && henkilo.vastaanotot.vanhat.length > 0 " class="panel panel-default">
            <header class="panel-heading">
                <h2 oph-msg="suoritusrekisteri.muokkaa.vastaanotot.vanhat"  class="panel-title">Korkeakouluopiskelupaikkojen vastaanotot vanhoissa järjestelmissä</h2>
            </header>
            <div class="panel-body">
                <ul class="list-unstyled entrylist">
                    <li ng-repeat="vastaanotto in henkilo.vastaanotot.vanhat">
                        <div class="row">
                            <div class="col-sm-5"><strong
                                    oph-msg="suoritusrekisteri.muokkaa.vastaanotot.hakukohde">Hakukohde</strong>
                                <div class="test-vastaanottoVanhaHakukohde">{{vastaanotto.hakukohde}}</div>
                            </div>
                            <div class="col-sm-5"><strong
                                    oph-msg="suoritusrekisteri.muokkaa.vastaanotot.paivamaara">Päivämäärä</strong>
                                <div class="test-vastaanottoVanhaPaivamaara">{{vastaanotto.vastaanottoaika | date:'dd.MM.yyyy'}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div id="save-button" class="row">
        <button type="submit" ng-disabled="disableSave" class="btn btn-primary test-saveButton">
            <span oph-msg="suoritusrekisteri.muokkaa.tallenna">Tallenna</span>
            <span class="glyphicon glyphicon-saved"></span>
        </button>
    </div>
</form>
