<div class="row">
    <div class="col-md-2">
        <tiedonsiirtomenu></tiedonsiirtomenu>
        <canvas id="tilaChart" width="175" height="175"></canvas>
    </div>
    <div class="col-md-10">
        <h2 oph-msg="suoritusrekisteri.tiedonsiirtotila.otsikko">Tiedonsiirtojen tila</h2>
        <messages></messages>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>
                            <div oph-msg="suoritusrekisteri.tiedonsiirtotila.id">Id</div>
                            <div oph-msg="suoritusrekisteri.tiedonsiirtotila.erantunniste">Erän tunniste</div>
                        </th>
                        <th oph-msg="suoritusrekisteri.tiedonsiirtotila.tyyppi">Tyyppi</th>
                        <th oph-msg="suoritusrekisteri.tiedonsiirtotila.lahettaja">Lähettäjä</th>
                        <th oph-msg="suoritusrekisteri.tiedonsiirtotila.lahetetty">Lähetetty</th>
                        <th oph-msg="suoritusrekisteri.tiedonsiirtotila.kasitelty">Käsitelty</th>
                        <th oph-msg="suoritusrekisteri.tiedonsiirtotila.tila">Tila</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="b in currentRows">
                        <td>
                            <div>
                                <a href="rest/v1/siirto/{{b.batchType}}/{{b.id}}" target="_blank" title="Avaa tiedonsiirto uuteen ikkunaan">{{b.id}}</a>
                            </div>
                            <div>{{b.externalId}}</div>
                        </td>
                        <td>{{ t(b.batchType) || b.batchType }}</td>
                        <td>{{b.lahettaja || b.source}}</td>
                        <td>{{b.status.sentTime | date:'medium'}}</td>
                        <td>{{b.status.processedTime | date:'medium'}}</td>
                        <td rowspan="2" class="{{statusClass(b)}}">
                            <div oph-msg="suoritusrekisteri.tiedonsiirtotila.tila.{{b.state}}">{{b.state}}</div>
                            <div ng-if="b.status.successRows" class="text-success text-nowrap"><strong
                                    oph-msg="suoritusrekisteri.tiedonsiirtotila.ok">OK</strong> <span>{{b.status.successRows}}</span>
                            </div>
                            <div ng-if="b.status.failureRows" class="text-danger text-nowrap"><strong
                                    oph-msg="suoritusrekisteri.tiedonsiirtotila.nok">NOK</strong> <span>{{b.status.failureRows}}</span>
                            </div>
                            <div ng-if="b.status.totalRows" class="text-nowrap"><strong
                                    oph-msg="suoritusrekisteri.tiedonsiirtotila.total">TOTAL</strong> <span>{{b.status.totalRows}}</span>
                            </div>
                            <div>
                                <button ng-if="b.state === 'DONE' || b.state === 'FAILED'" ng-click="reprocess(b.id)"
                                        title="Käsittele uudelleen" class="btn btn-xs"><span
                                        class="glyphicon glyphicon-repeat"></span></button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat-end="ng-repeat-end">
                        <td colspan="5" class="nobordertop">
                            <div ng-if="hasMessages(b)" class="alert alert-danger">
                                <dl class="varoitukset">
                                    <dt ng-repeat-start="(key, errs) in b.status.messages"><span
                                            oph-msg="suoritusrekisteri.tiedonsiirtotila.tunniste">Tunniste</span><span>"{{key}}":</span>
                                    </dt>
                                    <dd ng-repeat-end="ng-repeat-end">
                                        <div ng-repeat="err in errs">{{err}}</div>
                                    </dd>
                                </dl>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <aside ng-if="!loading">
            <div ng-if="allRows.length > 0" class="pull-right"><span oph-msg="suoritusrekisteri.nayta"
                                                                        class="pagination-label">Näytä</span>
                <select ng-model="pageSize" ng-change="setPageSize(pageSize)" ng-options="p for p in pageSizes"
                        required="true" class="pagination-size"></select>
            </div>
            <div ng-if="allRows.length > 0" id="tiedonsiirtotilaPagination" class="pull-right"><span
                    class="pagination-label">{{(currentPage - 1) * pageSize + 1}} - {{(currentPage * pageSize) >= allRows.length ? allRows.length : (currentPage * pageSize)}} / {{allRows.length}}</span>
                <pagination ng-model="currentPage" ng-change="pageChanged(currentPage)" total-items="allRows.length"
                            max-size="5" items-per-page="pageSize" boundary-links="true" rotate="false"
                            previous-text="<" next-text=">" first-text="<<"
                            last-text=">>"></pagination>
            </div>
        </aside>
    </div>
</div>
<div ng-if="loading" style="display: block" class="modal fade in">
    <div style="height: 100%" class="modal-backdrop in"></div>
    <div style="margin-top: 300px;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="loading-td loading-large"></div>
            </div>
        </div>
    </div>
</div>