<h2 id="application-name" oph-msg="suoritusrekisteri.application.name">Suoritusrekisteri</h2>

<script type="text/ng-template" id="organisaatioTemplate.html">
    <a>
        <span bind-html-unsafe="(match.model.oppilaitosKoodi + ' ' + (match.model.nimi.fi ? match.model.nimi.fi : (match.model.nimi.sv ? match.model.nimi.sv : match.model.nimi.en))) | typeaheadHighlight:query">
        </span>
    </a>
</script>

<aside class="row">
    <div class="col-sm-3">
        <form id="filterForm" ng-submit="search()" class="well form-horizontal sticky-scroller">
            <div class="form-group">
                <div class="col-sm-12">
                    <input id="henkiloTerm" ng-model="henkiloTerm" type="search"
                           placeholder="{{translate('suoritusrekisteri.hetuHenkilonumeroNimiPlaceholder')}}"
                           class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input id="organisaatioTerm" autocomplete="off" ng-model="organisaatioTerm" type="search"
                           placeholder="{{ translate('oppilaitoksenNumeroTaiNimi') }}"
                           typeahead="o as (o.nimi.fi ? o.nimi.fi : (o.nimi.sv ? o.nimi.sv : o.nimi.en)) for o in getOppilaitos($viewValue) | filter:$viewValue | limitTo:10"
                           typeahead-loading="loadingOppilaitos" typeahead-wait-ms="300"
                           typeahead-template-url="organisaatioTemplate.html" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <select id="vuosiTerm" ng-model="vuosiTerm" ng-options="v for v in vuodet"
                            class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="button" ng-click="reset()" class="btn btn-default">
                        <span oph-msg="suoritusrekisteri.opiskelijat.tyhjenna">Tyhjennä</span>
                        <span class="glyphicon glyphicon-remove"></span></button>
                    <button type="submit" class="btn btn-primary">
                        <span oph-msg="suoritusrekisteri.opiskelijat.hae" id="hae-button">Hae</span>
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div ng-if="!loading && allRows.length > 0 && henkiloTerm.length == 0">
                        <input id="result-filter" ng-model="filterParam"
                               placeholder="{{translate('suoritusrekisteri.suodataTuloksia')}}"
                               ng-change="resultFilter(filterParam)" class="form-control"/>

                        <div class="checkbox" id="missingCheckbox">
                            <label for="missingToggleCheckbox">
                                <input type="checkbox" id="missingToggleCheckbox" ng-model="showOnlyPuuttuvat"
                                       ng-change="arvosanatPuuttuuFilter()"/>
                                {{ translate('suoritusrekisteri.vainPuutteellistenTiedot') }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="table-scroller" class="form-group">
                <div class="col-sm-12" id="table-settings">
                    <div ng-if="loading">
                        <div class="loading-td loading-large"></div>
                    </div>
                    <div ng-if="!loading">
                        <table typeahead-loading="loadingOppilaitos" class="table table-responsive">
                            <tbody>
                            <tr class="student-row" ng-repeat="row in allRowsFiltered"
                                ng-class="{'table-selected' : row.henkiloOid === valittuHenkiloOid}"
                                ng-click="valitseHenkilo(row.henkiloOid)">
                                <td>{{row.henkilo}}<br/>{{row.hetu}}</td>
                                <td><span ng-repeat="o in row.opiskelijat">{{o.luokka}}</span></td>
                                <td ng-if="!row.hasArvosana"><span ng-repeat="o in row.opiskelijat"><b>*</b></span></td>
                                <td ng-if="row.hasArvosana"><span ng-repeat="o in row.opiskelijat"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div resize id="hiddenSpacer"></div>
    </div>

    <div class="col-sm-9">
        <messages id="status-messages"></messages>
        <div ng-if="valittuHenkiloOid">
            <div ng-include="'templates/muokkaa-tiedot.html'"></div>
        </div>
    </div>
</aside>