body .container {
    max-width: 1200px;
    width: auto !important;
    padding: 0 1px !important;
}

h1, h2, h3 {
    margin-top: 0;
}

body #raamit-header .header-content {
    height: 48px;
}

#opiskelijat {
    clear: both;
}

.ng-invalid {
    border-color: #f44;
}

.ng-invalid.ng-pristine {
    border-color: #428BCA;
}

.postitoimipaikka {
    position: relative;
}

.postitoimipaikka .loading {
    bottom: 9px;
    position: absolute;
    right: 24px;
}

.loading {
    background-image: url('../img/ajax-loader.gif');
    height: 16px;
    width: 16px;
}

.loading-td {
    background-color: #fff !important;
    text-align: center;
}

.loading-large {
    background-image: url('../img/ajax-loader-large.gif');
    height: 32px;
    margin: 50px auto;
    width: 32px;
}

.entrylist > li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.entrylist > li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.nappulat {
    margin-bottom: 20px;
}

.icon-breadcrumb-home {
    background: url('../img/breadcrumb-home-icon.png') no-repeat;
    display: inline-block;
    height: 17px;
    width: 25px;
    margin-bottom: -1px;
}

.icon-breadcrumb-arrow {
    background: url('../img/breadcrumb-arrow-icon.png') no-repeat;
    display: inline-block;
    height: 17px;
    width: 17px;
}

.icon-big {
    height: 29px;
    width: 29px;
    margin-right: 5px;
}

.pagination a {
    color: #000;
    cursor: pointer;
}

.pagination a *:hover, .btn *:hover {
    text-decoration: none;
}

.arvosana-button {
    margin-top: 16px;
}

.delete-suoritus, .delete-luokkatieto {
    background: #ccc repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, .5) 5px, rgba(255, 255, 255, .5) 10px);
    border-radius: 5px;
    padding: 10px;
}

.btn-toolbar {
    clear: both;
}

.datepicker + ul.dropdown-menu {
    width: 290px;
}

.input-group-btn .btn-default.btn-sm {
    height: 30px;
}


.organisaatiotulokset {
    height: 300px;
    margin-top: 20px;
    overflow: auto;
    position: relative;
}

.organisaatiotulokset > ul {
    margin-left: -25px;
}

.organisaatiohierarkia > li {
    list-style: none;
    padding: 0 0 0 25px;
}

.organisaatiohierarkia > li a {
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    padding: 4px 8px;
    text-decoration: none;
}

.organisaatiohierarkia a *:hover {
    text-decoration: none;
}

.organisaatiohierarkia > li a:hover {
    background-color: #ddd;
}

optgroup option {
    padding-left: 10px;
}

#hakukohdenimi {
    display: inline-block;
    margin-top: 7px;
}

.input-loading {
    background: url('../img/ajax-loader.gif') no-repeat right;
}

.nav-stacked li {
    /* white-space: nowrap; */
}

.nav-stacked {
    border-bottom: none;
}

.link {
    cursor: pointer;
}

.checkbox input[type=checkbox] {
    top: 10px;
}

#tilaChart {
    margin-top: 30px;
}

.varoitukset {
    margin-bottom: 0;
}

.nobordertop {
    border-top: none !important;
}

.nobordertop .alert {
    margin-bottom: 0;
}

.pie-legend li div {
    display: inline-block;
    width: 15px;
}

.pagination-label {
    display: inline-block;
    margin-top: 7px;
    vertical-align: top;
}