a {
    cursor: pointer;
}

body {
    margin: 0 auto;
}

body #raamit-header .header-content {
    height: 48px;
}

label {
    font-weight: bold;
}

.container {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
}

.pagination {
    margin-top: 0;
}

.panel-default {
    border-color: #cccccc;
}

.panel-default > .panel-heading {
    background-color: #dddddd;
}

.form-inline .form-control {
    display: block;
}

.riveja {
    display: inline-block;
    line-height: 34px;
    margin-right: 5px;
}

.container #filterForm {
    margin-bottom: 20px;
}

#opiskeluoikeudet {
    clear: both;
}

.teapot {
    height: 100px;
    text-align: center;
}

.teapot img {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 50px;
}

.sortable {
    cursor: pointer;
}

.kausi-select {
    min-width: 90px;
}

.ei-muokattava {
    margin-top: 11px;
}

.ng-invalid {
    border-color: #f44;
}

.postitoimipaikka {
    position: relative;
}

.postitoimipaikka .loading {
    bottom: 9px;
    position: absolute;
    right: 24px;
}

.loading {
    background-image: url('../images/ajax-loader.gif');
    height: 16px;
    width: 16px;
}

.suoritus-form .form-group {
    max-width: 30%;
}