/*
Sivumallin CSS-tyylit kehitysvaiheessa
Ei ole tarkoitus olla koodausohje
*/

* {
    padding:0;
    margin:0;
    font-family:helvetica,arial;
    font-size:13px;
}

.logo {
    margin:7px;
}

.header {
    background-color:#149ecb;
    width:100%;
    height:48px;
}

.raidat {
    background-image:url("../img/menupattern_3x6px.png");
    width:100%;
    height:6px;
}

.navi {
    background-color:#06526b;
    width:100%;
    height:36px;
}

.footer-ulko {
    border: 1px solid #ececec;
    padding: 4px;
    border-radius:3px;
    max-width:940px;
    margin:auto;
}

.footer-sisa {
    background: #dcdcdc;
    border-radius:3px;
    padding:20px;
}


.osoitteet {
    width:822px;
    margin:auto;
    margin-top:20px;
    border: 1px solid #ececec;
    padding:20px;
}
