body .container {
    max-width: 1200px;
    min-width: 1000px;
    width: auto !important;
    padding: 0 1px !important;
}

h1, h2, h3 {
    margin-top: 0;
}

body #raamit-header .header-content {
    height: 48px;
}

#opiskelijat {
    clear: both;
}

.ng-invalid {
    border-color: #f44;
}

.ng-invalid.ng-pristine {
    border-color: #428BCA;
}

.postitoimipaikka {
    position: relative;
}

.postitoimipaikka .loading {
    bottom: 9px;
    position: absolute;
    right: 24px;
}

.loading {
    background-image: url('../img/ajax-loader.gif');
    height: 16px;
    width: 16px;
}

.loading-td {
    background-color: #fff !important;
    text-align: center;
}

#bread-crumb {
    display: none;
}

.sticky-scroller {
    position: fixed;
}

#table-scroller {
    overflow-y: auto;
    height: -moz-calc(85vh - 360px);
    height: -webkit-calc(85vh - 360px);
    height: calc(85vh - 360px);
    min-height: 360px;
}

#table-settings {
    cursor: pointer;
    color: #06526b;
    font-size: 12px;
    width: 22em;
    padding-right: 0;
    word-wrap: break-word;
}

#missingCheckbox {
    word-wrap: break-word;
}

#table-settings tbody:hover tr:hover {
    background-color: #eaf2f5;
}

.table-selected {
    background-color: #149ecb !important;
    color: #fff;
}

.student-row>th, .student-row>td{
    padding: 4px !important;
}

#save-button {
    text-align: right;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.loading-large {
    background-image: url('../img/ajax-loader-large.gif');
    height: 32px;
    margin: 50px auto;
    width: 32px;
}

#oppijanumero {
    width: 30%;
}

.entrylist > li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.entrylist > li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.newlink {
    padding-top: 10px;
}

.nappulat {
    margin-bottom: 20px;
}

.icon-breadcrumb-home {
    background: url('../img/breadcrumb-home-icon.png') no-repeat;
    display: inline-block;
    height: 17px;
    width: 25px;
    margin-bottom: -1px;
}

.icon-breadcrumb-arrow {
    background: url('../img/breadcrumb-arrow-icon.png') no-repeat;
    display: inline-block;
    height: 17px;
    width: 17px;
}

.icon-big {
    height: 29px;
    width: 29px;
    margin-right: 5px;
}

.pagination a {
    color: #000;
    cursor: pointer;
}

.pagination a *:hover, .btn *:hover {
    text-decoration: none;
}

.arvosana-button {
    margin-top: 16px;
}

.delete-suoritus, .delete-luokkatieto {
    background: #ccc repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, .5) 5px, rgba(255, 255, 255, .5) 10px);
    border-radius: 5px;
    padding: 10px;
}

.btn-toolbar {
    clear: both;
}

.datepicker + ul.dropdown-menu {
    width: 290px;
}

.input-group-btn .btn-default.btn-sm {
    height: 30px;
}

.organisaatiotulokset {
    height: 300px;
    margin-top: 20px;
    overflow: auto;
    position: relative;
}

.organisaatiotulokset > ul {
    margin-left: -25px;
}

.organisaatiohierarkia > li {
    list-style: none;
    padding: 0 0 0 25px;
}

.organisaatiohierarkia > li a {
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    padding: 4px 8px;
    text-decoration: none;
}

.organisaatiohierarkia a *:hover {
    text-decoration: none;
}

.organisaatiohierarkia > li a:hover {
    background-color: #ddd;
}

optgroup option {
    padding-left: 10px;
}

#hakukohdenimi {
    display: inline-block;
    margin-top: 7px;
}

.input-loading {
    background: url('../img/ajax-loader.gif') no-repeat right;
}

.nav-stacked li {
    /* white-space: nowrap; */
}

.nav-stacked {
    border-bottom: none;
}

.link {
    cursor: pointer;
}

.checkbox input[type=checkbox] {
    top: 10px;
}

#tilaChart {
    margin-top: 30px;
}

.varoitukset {
    margin-bottom: 0;
}

.nobordertop {
    border-top: none !important;
}

.nobordertop .alert {
    margin-bottom: 0;
}

.pie-legend li div {
    display: inline-block;
    width: 15px;
}

.pagination-label {
    display: inline-block;
    margin-left: 30px;
    margin-right: 3px;
    margin-top: 27px;
    vertical-align: top;
}

.pagination-size {
    margin-top: 24px;
}

.radio-inline input[type=radio] {
    margin-top: 7px
}

.smallInline {
    width: auto;
    display: inline;
}

.oddRow {
    background-color: #f9f9f9;
}

.oddRow > td {
    background-color: rgba(20, 158, 203, 0.06);
    border-top-color: rgba(6, 82, 107, 0.12);
    border-bottom-color: rgba(6, 82, 107, 0.12);
}

.paddedRow > td {
    border-top: none !important;
}

.paddedRow > td:first-child {
    padding-left: 15px;
}

.validation-error {
    color: #a94442;
}

.validation-error .name:last-child .separator {
    display: none;
}

.tmerkinta {
    font-size: 9px;
}