h2(oph-msg="suoritusrekisteri.muokkaa.muokkaatietoja") Muokkaa opiskelijan tietoja

div(class="alert alert-{{message.type}}" ng-show="messages" ng-repeat="message in messages")
  button(type="button" class="close" aria-hidden="true" ng-click="removeMessage(message)") &times;
  strong
    img(class="icon-big" src="static/img/alert-icon28x29.png")
    span {{message.message}}
  span {{message.description}}

div(class="row")
  div(class="col-md-7")
    section(class="panel panel-default")
      header(class="panel-heading")
        h2(class="panel-title" oph-msg="suoritusrekisteri.muokkaa.henkilotiedot") Henkilötiedot
      div(class="panel-body")
        form(name="henkiloForm")
          div(class="row")
            div(class="form-group col-sm-8")
              div
                strong(oph-msg="suoritusrekisteri.muokkaa.henkilotunnus") Henkilötunnus / syntymäaika
              div {{henkilo.hetu || henkilo.syntymaaika}}
            div(class="form-group col-sm-4")
              div
                strong(oph-msg="suoritusrekisteri.muokkaa.sukupuoli") Sukupuoli
              div(ng-show="henkilo.sukupuoli == 'MIES'" oph-msg="suoritusrekisteri.muokkaa.mies") Mies
              div(ng-show="henkilo.sukupuoli == 'NAINEN'" oph-msg="suoritusrekisteri.muokkaa.nainen") Nainen
              div(ng-hide="henkilo.sukupuoli") -
          div(class="row")
            div(class="form-group col-sm-4")
              div
                strong(oph-msg="suoritusrekisteri.muokkaa.etunimet") Etunimet
              div {{henkilo.etunimet}}
            div(class="form-group col-sm-4")
              div
                strong(oph-msg="suoritusrekisteri.muokkaa.kutsumanimi") Kutsumanimi
              div {{henkilo.kutsumanimi}}
            div(class="form-group col-sm-4")
              div
                strong(oph-msg="suoritusrekisteri.muokkaa.sukunimi") Sukunimi
              div {{henkilo.sukunimi}}

  div(class="col-md-5")
    section(class="panel panel-default")
      header(class="panel-heading")
        h2(class="panel-title" oph-msg="suoritusrekisteri.muokkaa.suoritukset") Suoritukset
      div(class="panel-body")
        ul(class="list-unstyled")
          li(ng-repeat="suoritus in suoritukset")
            form(class="form-inline suoritus-form")
              div(class="form-group")
                strong(oph-msg="suoritusrekisteri.muokkaa.myontaja") Myöntäjä
                input(type="text" class="form-control" ng-model="suoritus.oppilaitos" typeahead="organisaatio.oppilaitosKoodi as (organisaatio.oppilaitosKoodi + ' ' + (organisaatio.nimi.fi || organisaatio.nimi.sv)) for organisaatio in getOppilaitos($viewValue) | filter:$viewValue | limitTo:10" typeahead-loading="loadingSuoritusOppilaitos" typeahead-wait-ms="500" required)
              div(class="form-group")
                strong(oph-msg="suoritusrekisteri.muokkaa.koulutus") Koulutus
                select(class="form-control" ng-model="suoritus.komo" ng-options="koulutus.value as koulutus.text for koulutus in koulutukset" required)
              div(class="form-group")
                strong(oph-msg="suoritusrekisteri.muokkaa.yksilollistetty") Yksilöllistetty
                select(class="form-control" ng-model="suoritus.yksilollistaminen" ng-options="yks.value as yks.text for yks in yksilollistamiset" required ng-disabled="suoritus.komo !== 'peruskoulu'")
              div(class="form-group")
                strong(oph-msg="suoritusrekisteri.muokkaa.opetuskieli") Opetuskieli
                input(type="text" class="form-control" ng-model="suoritus.suoritusKieli" required)
              div(class="form-group")
                strong(oph-msg="suoritusrekisteri.muokkaa.valmistumispaiva") Valmistumispäivä
                input(type="text" class="form-control" ng-model="suoritus.valmistuminen" datepicker-popup="{{format}}" datepicker-options="dateOptions" show-button-bar="false")

section(class="panel panel-default")
  header(class="panel-heading")
    h2(class="panel-title" oph-msg="suoritusrekisteri.muokkaa.luokkatiedot") Luokkatiedot
  table(class="table")
    thead
      th(oph-msg="suoritusrekisteri.muokkaa.alkupaiva") Alkupäivä
      th(oph-msg="suoritusrekisteri.muokkaa.loppupaiva") Loppupäivä
      th(oph-msg="suoritusrekisteri.muokkaa.oppilaitos") Oppilaitos
      th(oph-msg="suoritusrekisteri.muokkaa.luokkataso") Luokkataso
      th(oph-msg="suoritusrekisteri.muokkaa.luokka") Luokka
    tbody
      tr(ng-repeat="luokkatieto in luokkatiedot")
        td
          input(type="text" class="form-control" ng-model="luokkatieto.alkuPaiva" datepicker-popup="{{format}}" datepicker-options="dateOptions" required show-button-bar="false")
        td
          input(type="text" class="form-control" ng-model="luokkatieto.loppuPaiva" datepicker-popup="{{format}}" datepicker-options="dateOptions" show-button-bar="false" min="luokkatieto.alkuPaiva")
        td
          input(type="text" class="form-control" ng-model="luokkatieto.oppilaitos" typeahead="organisaatio.oppilaitosKoodi as (organisaatio.oppilaitosKoodi + ' ' + (organisaatio.nimi.fi || organisaatio.nimi.sv)) for organisaatio in getOppilaitos($viewValue) | filter:$viewValue | limitTo:10" typeahead-loading="loadingLuokkatietoOppilaitos" typeahead-wait-ms="500" required)
        td
          input(type="text" class="form-control" ng-model="luokkatieto.luokkataso" required)
        td
          input(type="text" class="form-control" ng-model="luokkatieto.luokka" required)

aside(class="btn-toolbar")
  button(class="btn btn-primary" ng-click="save()" oph-msg="suoritusrekisteri.muokkaa.tallenna") Tallenna
  button(class="btn btn-default" ng-click="cancel()" oph-msg="suoritusrekisteri.muokkaa.peruuta") Peruuta