h2(oph-msg="suoritusrekisteri.muokkaa.muokkaatietoja") Muokkaa opiskelijan tietoja

div(class="alert alert-{{message.type}}" ng-show="messages" ng-repeat="message in messages")
  button(type="button" class="close" aria-hidden="true" ng-click="removeMessage(message)") &times;
  strong
    img(ng-show="message.type == 'alert'" class="icon-big" src="static/img/alert-icon28x29.png")
    img(ng-show="message.type == 'success'" class="icon-big" src="static/img/confirm-icon28x29.png")
    span(oph-msg="{{message.messageKey}}") {{message.message}}
  span(oph-msg="{{message.descriptionKey}}") {{message.description}}

script(type="text/ng-template" id="arvosanaedit.html")
  form(ng-submit="save()")
    div(class="modal-header")
      button(type="button" class="close" ng-click="modalInstance.close()" aria-hidden="true") &times;
      h4(class="modal-title" oph-msg="suoritusrekisteri.muokkaa.arvosanat.otsikko") Muokkaa arvosanoja
    table(class="table table-condensed table-striped")
      thead
        th(oph-msg="suoritusrekisteri.muokkaa.arvosanat.oppiaine") Oppiaine
        th(oph-msg="suoritusrekisteri.muokkaa.arvosanat.lisatieto") Lisätieto (kieli)
        th(oph-msg="suoritusrekisteri.muokkaa.arvosanat.arvosana") Arvosana
        th(oph-msg="suoritusrekisteri.muokkaa.arvosanat.valinnainen") Valinnainen
        th(oph-msh="suoritusrekisteri.muokkaa.arvosanat.toinenvalinnainen") Toinen valinnainen
      tbody
        tr(ng-repeat="a in arvosanataulukko")
          td {{a.aineNimi || a.aine}}
          td
            select(ng-show="isKielisyys(a.aine)" class="form-control input-sm" ng-model="a.lisatieto" ng-options="k.value as k.text for k in kielet")
          td
            select(class="form-control input-sm" ng-model="a.arvosana" required="required" ng-options="a.value as a.text for a in arvosanat")
          td
            select(ng-show="isValinnaisuus(a.aine)" class="form-control input-sm" ng-model="a.arvosanaValinnainen" ng-options="a.value as a.text for a in arvosanat")
          td
            select(ng-show="isValinnaisuus(a.aine)" class="form-control input-sm" ng-model="a.arvosanaToinenValinnainen" ng-options="a.value as a.text for a in arvosanat")

    div(class="modal-footer")
      button(type="button" class="btn btn-default" ng-click="cancel()")
        span(oph-msg="suoritusrekisteri.muokkaa.arvosanat.peruuta") Peruuta
        span(class="glyphicon glyphicon-remove")
      button(type="submit" class="btn btn-primary")
        span(oph-msg="suoritusrekisteri.muokkaa.arvosanat.tallenna") Tallenna
        span(class="glyphicon glyphicon-saved")

div(class="row")
  div(class="col-sm-8")
    section(class="panel panel-default")
      header(class="panel-heading")
        h2(class="panel-title" oph-msg="suoritusrekisteri.muokkaa.henkilotiedot") Henkilötiedot
      div(class="panel-body")
        div(class="row")
          div(class="form-group col-sm-4")
            div
              strong(oph-msg="suoritusrekisteri.muokkaa.henkilotunnus") Henkilötunnus / syntymäaika
            div {{henkilo.hetu || henkilo.syntymaaika}}
          div(class="form-group col-sm-4")
            div
              strong(oph-msg="suoritusrekisteri.muokkaa.sukunimi") Sukunimi
            div {{henkilo.sukunimi}}
          div(class="form-group col-sm-4")
            div
              strong(oph-msg="suoritusrekisteri.muokkaa.etunimet") Etunimet
            div {{henkilo.etunimet}}
        aside
          a(class="btn btn-default btn-xs" href="/authentication-henkiloui/html/index.html#/muokkaaoppija/{{henkilo.oidHenkilo}}/" target="_blank")
            span(oph-msg="suoritusrekisteri.muokkaa.henkilotietoja") Muokkaa henkilötietoja
            span(class="glyphicon glyphicon-edit")

div(class="row")
  div(class="col-sm-6")
    section(class="panel panel-default")
      header(class="panel-heading")
        h2(class="panel-title" oph-msg="suoritusrekisteri.muokkaa.suoritukset") Suoritukset
      div(class="panel-body")
        ul(class="list-unstyled entrylist")
          li(ng-repeat="suoritus in suoritukset")
            form(class="form-inline suoritus-form")
              div(class="row")
                div(class="form-group col-sm-3")
                  strong(oph-msg="suoritusrekisteri.muokkaa.myontaja") Myöntäjä
                  input(type="text" class="form-control input-sm" ng-model="suoritus.oppilaitos" typeahead="organisaatio.oppilaitosKoodi as (organisaatio.oppilaitosKoodi + ' ' + (organisaatio.nimi.fi || organisaatio.nimi.sv)) for organisaatio in getOppilaitos($viewValue) | filter:$viewValue | limitTo:10" typeahead-loading="loadingSuoritusOppilaitos" typeahead-wait-ms="500" required)
                div(class="form-group col-sm-5")
                  strong(oph-msg="suoritusrekisteri.muokkaa.koulutus") Koulutus
                  select(class="form-control input-sm" ng-model="suoritus.komo" ng-options="koulutus.value as koulutus.text for koulutus in koulutukset" required)
                div(class="form-group col-sm-4")
                  strong(oph-msg="suoritusrekisteri.muokkaa.yksilollistetty") Yksilöllistetty
                  select(class="form-control input-sm" ng-model="suoritus.yksilollistaminen" ng-options="yks.value as yks.text for yks in yksilollistamiset" required ng-disabled="suoritus.komo !== 'peruskoulu'")
              div(class="row")
                div(class="form-group col-sm-3")
                  strong(oph-msg="suoritusrekisteri.muokkaa.opetuskieli") Opetuskieli
                  input(type="text" class="form-control input-sm" ng-model="suoritus.suoritusKieli" required)
                div(class="form-group col-sm-3")
                  strong(oph-msg="suoritusrekisteri.muokkaa.valmistumispaiva") Valmistumispäivä
                  input(type="text" class="form-control input-sm" ng-model="suoritus.valmistuminen" datepicker-popup="{{format}}" datepicker-options="dateOptions" show-button-bar="false")
                div(class="form-group col-sm-6")
                  div(class="pull-right")
                    button(type="button" class="btn btn-default arvosana-button" ng-disabled="!suoritus.id" ng-click="editArvosana(suoritus.id)")
                      span(oph-msg="suoritusrekisteri.muokkaa.muokkaaarvosanoja") Muokkaa arvosanoja
                      span(class="glyphicon glyphicon-edit")
          li
            button(class="btn btn-default btn-xs" ng-click="addSuoritus()")
              span(oph-msg="suoritusrekisteri.muokkaa.uusisuoritus") Lisää uusi suoritus
              span(class="glyphicon glyphicon-plus")

  div(class="col-sm-6")
    section(class="panel panel-default")
      header(class="panel-heading")
        h2(class="panel-title" oph-msg="suoritusrekisteri.muokkaa.luokkatiedot") Luokkatiedot
      div(class="panel-body")
        ul(class="list-unstyled entrylist")
          li(ng-repeat="luokkatieto in luokkatiedot")
            form(class="form-inline luokkatieto-form")
              div(class="row")
                div(class="form-group col-sm-3")
                  strong(oph-msg="suoritusrekisteri.muokkaa.oppilaitos") Oppilaitos
                  input(type="text" class="form-control input-sm" ng-model="luokkatieto.oppilaitos" typeahead="organisaatio.oppilaitosKoodi as (organisaatio.oppilaitosKoodi + ' ' + (organisaatio.nimi.fi || organisaatio.nimi.sv)) for organisaatio in getOppilaitos($viewValue) | filter:$viewValue | limitTo:10" typeahead-loading="loadingLuokkatietoOppilaitos" typeahead-wait-ms="500" required)
                div(class="form-group col-sm-3")
                  strong(oph-msg="suoritusrekisteri.muokkaa.luokka") Luokka
                  input(type="text" class="form-control input-sm" ng-model="luokkatieto.luokka" required)
                div(class="form-group col-sm-3")
                  strong(oph-msg="suoritusrekisteri.muokkaa.luokkataso") Luokkataso
                  input(type="text" class="form-control input-sm" ng-model="luokkatieto.luokkataso" required)
              div(class="row")
                div(class="form-group col-sm-3")
                  strong(oph-msg="suoritusrekisteri.muokkaa.alkupaiva") Alkupäivä
                  input(type="text" class="form-control input-sm" ng-model="luokkatieto.alkuPaiva" datepicker-popup="{{format}}" datepicker-options="dateOptions" required show-button-bar="false")
                div(class="form-group col-sm-3")
                  strong(oph-msg="suoritusrekisteri.muokkaa.loppupaiva") Loppupäivä
                  input(type="text" class="form-control input-sm" ng-model="luokkatieto.loppuPaiva" datepicker-popup="{{format}}" datepicker-options="dateOptions" show-button-bar="false" min="luokkatieto.alkuPaiva")
          li
            button(class="btn btn-default btn-xs" ng-click="addLuokkatieto()")
              span(oph-msg="suoritusrekisteri.muokkaa.uusiluokkatieto") Lisää uusi luokkatieto
              span(class="glyphicon glyphicon-plus")

aside(class="btn-toolbar")
  button(class="btn btn-default" ng-click="cancel()")
    span(oph-msg="suoritusrekisteri.muokkaa.peruuta") Peruuta
    span(class="glyphicon glyphicon-remove")
  button(class="btn btn-primary" ng-click="save()")
    span(oph-msg="suoritusrekisteri.muokkaa.tallenna") Tallenna
    span(class="glyphicon glyphicon-saved")

