h2 Muokkaa opiskelijan tietoja

div(class="alert alert-{{message.type}}" ng-show="messages" ng-repeat="message in messages")
  button(type="button" class="close" aria-hidden="true" ng-click="removeMessage(message)") &times;
  strong
    img(class="icon-big" src="static/img/alert-icon28x29.png")
    span {{message.message}}
  span {{message.description}}

div(class="row")
  div(class="col-md-7")
    section(class="panel panel-default")
      header(class="panel-heading")
        h2(class="panel-title") Henkilötiedot
      div(class="panel-body")
        form(name="henkiloForm")
          div(class="row")
            div(class="form-group col-sm-6")
              div
                strong Henkilötunnus
              div {{henkilo.hetu || henkilo.syntymaaika}}
            div(class="form-group col-sm-6")
              div
                strong Sukupuoli
              label(class="radio-inline")
                input(type="radio" ng-model="henkilo.sukupuoli" value="1" required)
                span Mies
              label(class="radio-inline")
                input(type="radio" ng-model="henkilo.sukupuoli" value="2" required)
                span Nainen
          div(class="row")
            div(class="form-group col-sm-6")
              label(for="etunimet") Etunimet
              input(id="etunimet" type="text" class="form-control" ng-model="henkilo.etunimet" required)
            div(class="form-group col-sm-6")
              label(for="kutsumanimi") Kutsumanimi
              input(id="kutsumanimi" type="text" class="form-control" ng-model="henkilo.kutsumanimi" required)
          div(class="form-group")
            label(for="sukunimi") Sukunimi
            input(id="sukunimi" type="text" class="form-control" ng-model="henkilo.sukunimi" required)

          div(ng-repeat="yhteystietoryhma in henkilo.yhteystiedotRyhma")
            div(class="form-group" ng-repeat="yhteystieto in yhteystietoryhma.yhteystiedot")
              label {{yhteystieto.yhteystietoTyyppi}}
              input(type="text" class="form-control" ng-model="yhteystieto.yhteystietoArvo")

          div(class="row")
            div(class="form-group col-sm-4" ng-repeat="kansalaisuus in henkilo.kansalaisuus")
              label Kansalaisuus
              input(class="form-control" type="text" ng-model="kansalaisuus.kansalaisuusKoodi" required)
            div(class="form-group col-sm-4")
              label(for="aidinkieli") Äidinkieli
              input(id="aidinkieli" class="form-control" type="text" ng-model="henkilo.asiointiKieli.kieliKoodi" required ng-change="henkilo.asiointiKieli.kieliTyyppi = henkilo.asiointiKieli.kieliKoodi; henkilo.kielisyys[0] = henkilo.asiointiKieli;")
          div(class="row")

  div(class="col-md-5")
    section(class="panel panel-default")
      header(class="panel-heading")
        h2(class="panel-title") Suoritukset
      div(class="panel-body")
        ul(class="list-unstyled")
          li(ng-repeat="suoritus in suoritukset")
            form(class="form-inline suoritus-form")
              div(class="form-group")
                strong Oppilaitos
                input(type="text" class="form-control" ng-model="suoritus.oppilaitos" typeahead="organisaatio.oppilaitosKoodi as (organisaatio.oppilaitosKoodi + ' ' + (organisaatio.nimi.fi || organisaatio.nimi.sv)) for organisaatio in getOppilaitos($viewValue) | filter:$viewValue | limitTo:10" typeahead-loading="loadingSuoritusOppilaitos" typeahead-wait-ms="500" required)
              div(class="form-group")
                strong Koulutus
                select(class="form-control" ng-model="suoritus.komoto.komo" ng-options="koulutus.value as koulutus.text for koulutus in koulutukset" required)
              div(class="form-group")
                strong Yksilöllistetty
                select(class="form-control" ng-model="suoritus.yksilollistaminen" ng-options="yks.value as yks.text for yks in yksilollistamiset" required ng-disabled="suoritus.komoto.komo !== 'peruskoulu'")
              div(class="form-group")
                strong Opetuskieli
                input(type="text" class="form-control" ng-model="suoritus.suoritusKieli" required)
              div(class="form-group")
                strong Valmistumispäivä
                input(type="text" class="form-control" ng-model="suoritus.valmistuminen" datepicker-popup="{{format}}" datepicker-options="dateOptions" required show-button-bar="false")

section(class="panel panel-default")
  header(class="panel-heading")
    h2(class="panel-title") Luokkatiedot
  table(class="table")
    thead
      th Alkupäivä
      th Loppupäivä
      th Oppilaitos
      th Luokkataso
      th Luokka
    tbody
      tr(ng-repeat="luokkatieto in luokkatiedot")
        td
          input(type="text" class="form-control" ng-model="luokkatieto.alkuPaiva" datepicker-popup="{{format}}" datepicker-options="dateOptions" required show-button-bar="false")
        td
          input(type="text" class="form-control" ng-model="luokkatieto.loppuPaiva" datepicker-popup="{{format}}" datepicker-options="dateOptions" show-button-bar="false" min="luokkatieto.alkuPaiva")
        td
          input(type="text" class="form-control" ng-model="luokkatieto.oppilaitos" typeahead="organisaatio.oppilaitosKoodi as (organisaatio.oppilaitosKoodi + ' ' + (organisaatio.nimi.fi || organisaatio.nimi.sv)) for organisaatio in getOppilaitos($viewValue) | filter:$viewValue | limitTo:10" typeahead-loading="loadingLuokkatietoOppilaitos" typeahead-wait-ms="500" required)
        td
          input(type="text" class="form-control" ng-model="luokkatieto.luokkataso" required)
        td
          input(type="text" class="form-control" ng-model="luokkatieto.luokka" required)

aside(class="btn-toolbar")
  button(class="btn btn-primary" ng-click="save()") Tallenna
  button(class="btn btn-default" ng-click="cancel()") Peruuta