h2(oph-msg="suoritusrekisteri.sovellus.nimi" oph-msg="suoritusrekisteri.opiskelijat.opiskelijatiedot") Opiskelijatiedot

messages

script(type="text/ng-template" id="organisaatioTemplate.html")
  a
    span(bind-html-unsafe="(match.model.oppilaitosKoodi + ' ' + (match.model.nimi.fi ? match.model.nimi.fi : (match.model.nimi.sv ? match.model.nimi.sv : match.model.nimi.en))) | typeaheadHighlight:query")

aside(class="row")
  div(class="col-sm-8")
    form(id="filterForm" class="well form-horizontal" ng-submit="search()")
      div(class="form-group")
        label(for="henkiloTerm" class="col-sm-2 control-label" oph-msg="suoritusrekisteri.opiskelijat.henkilo") Henkilö
        div(class="col-sm-5")
          input(id="henkiloTerm" class="form-control" ng-model="henkiloTerm" type="search" placeholder="Hae hetulla tai henkilönumerolla")
          span(ng-show="henkilo") {{henkilo.etunimet}} {{henkilo.sukunimi}}

      div(class="form-group")
        label(for="organisaatioTerm" class="col-sm-2 control-label" oph-msg="suoritusrekisteri.opiskelijat.oppilaitos") Oppilaitos
        div(class="col-sm-5")
          input(id="organisaatioTerm" class="form-control" autocomplete="off" ng-model="organisaatioTerm" type="search" placeholder="Hae oppilaitoksen numerolla tai nimellä" typeahead="organisaatio as organisaatio.oppilaitosKoodi for organisaatio in getOppilaitos($viewValue) | filter:$viewValue | limitTo:10" typeahead-loading="loadingOppilaitos" typeahead-wait-ms="500" typeahead-template-url="organisaatioTemplate.html")
          span(ng-show="organisaatioTerm") {{organisaatioTerm.oppilaitosKoodi}} {{organisaatioTerm.nimi.fi || organisaatioTerm.nimi.sv || organisaatioTerm.nimi.en}}

      div(class="form-group")
        label(for="vuosiTerm" class="col-sm-2 control-label" oph-msg="suoritusrekisteri.opiskelijat.vuosi") Vuosi
        div(class="col-sm-2")
          select(id="vuosiTerm" class="form-control" ng-model="vuosiTerm" ng-options="v for v in vuodet")

      div(class="form-group")
        div(class="col-sm-10 col-sm-offset-2")
          button(class="btn btn-default" type="button" ng-click="reset()")
            span(oph-msg="suoritusrekisteri.opiskelijat.tyhjenna") Tyhjennä
            span(class="glyphicon glyphicon-remove")
          button(class="btn btn-primary" type="submit")
            span(oph-msg="suoritusrekisteri.opiskelijat.hae") Hae
            span(class="glyphicon glyphicon-search")

table(class="table")
  thead
    tr
      th(oph-msg="suoritusrekisteri.opiskelijat.henkiloOid") Henkilö
      th(oph-msg="suoritusrekisteri.opiskelijat.opiskelijatiedot") Opiskelijatiedot
      th(oph-msg="suoritusrekisteri.opiskelijat.suoritustiedot") Suoritustiedot
      th
  tbody
    tr(ng-repeat="row in currentRows")
      td {{row.henkilo || row.henkiloOid}}
      td
        div(ng-repeat="o in row.opiskelijat") {{o.oppilaitos}}, {{o.luokka}}
      td
        div(ng-repeat="s in row.suoritukset")
          span {{s.oppilaitos}},
          span(ng-hide="s.koulutus" oph-msg="suoritusrekisteri.komo.{{s.komo}}") {{s.komo}}
          span(ng-show="s.koulutus") {{s.koulutus}}
          span(ng-show="s.hasArvosanat" oph-msg="suoritusrekisteri.opiskelijat.arvosanatsiirretty") (arvosanat siirretty)
          span(ng-show="s.noArvosanat" oph-msg="suoritusrekisteri.opiskelijat.eiarvosanoja") (ei arvosanoja)
      td
        a(class="btn bt-default btn-xs pull-right" href="#/muokkaa/{{row.henkiloOid}}")
          span(oph-msg="suoritusrekisteri.opiskelijat.muokkaa") Muokkaa tietoja
          span(class="glyphicon glyphicon-edit")
    tr(ng-show="loading")
      td(class="loading-td" colspan="4")
        div(class="loading-large")

aside(class="text-center" ng-hide="loading")
  div(class="pagination" ng-show="pageNumbers && pageNumbers.length > 0")
    ul
      li
        a(ng-click="prevPage()")
          span(class="glyphicon glyphicon-arrow-left")
      li(class="{{page === (pageNum - 1) ? 'active' : ''}}" ng-repeat="pageNum in pageNumbers")
        a(ng-click="showPageWithNumber(pageNum)") {{pageNum}}
      li
        a(ng-click="nextPage()")
          span(class="glyphicon glyphicon-arrow-right")
