div(class="row")
  div(class="col-md-2")
    tiedonsiirtomenu
    canvas(id="tilaChart" width="175" height="175")

  div(class="col-md-10")
    h2(oph-msg="suoritusrekisteri.tiedonsiirtotila.otsikko") Tiedonsiirtojen tila

    messages

    div(class="row")
      div(class="col-sm-12")
        table(class="table table-condensed")
          thead
            tr
              th
                div(oph-msg="suoritusrekisteri.tiedonsiirtotila.id") Id
                div(oph-msg="suoritusrekisteri.tiedonsiirtotila.erantunniste") Erän tunniste
              th(oph-msg="suoritusrekisteri.tiedonsiirtotila.tyyppi") Tyyppi
              th(oph-msg="suoritusrekisteri.tiedonsiirtotila.lahettaja") Lähettäjä
              th(oph-msg="suoritusrekisteri.tiedonsiirtotila.lahetetty") Lähetetty
              th(oph-msg="suoritusrekisteri.tiedonsiirtotila.kasitelty") Käsitelty
              th(oph-msg="suoritusrekisteri.tiedonsiirtotila.tila") Tila
          tbody
            tr(ng-repeat-start="b in batches")
              td
                div {{b.id}}
                div {{b.externalId}}
              td {{b.batchType}}
              td {{b.lahettaja || b.source}}
              td {{b.status.sentTime | date:'medium'}}
              td {{b.status.processedTime | date:'medium'}}
              td(rowspan="2" class="{{statusClass(b)}}")
                div(oph-msg="suoritusrekisteri.tiedonsiirtotila.tila.{{b.state}}") {{b.state}}
                div(ng-if="b.status.successRows" class="text-success text-nowrap")
                  strong(oph-msg="suoritusrekisteri.tiedonsiirtotila.ok") OK
                  span {{b.status.successRows}}
                div(ng-if="b.status.failureRows" class="text-danger text-nowrap")
                  strong(oph-msg="suoritusrekisteri.tiedonsiirtotila.nok") NOK
                  span {{b.status.failureRows}}
                div(ng-if="b.status.totalRows" class="text-nowrap")
                  strong(oph-msg="suoritusrekisteri.tiedonsiirtotila.total") TOTAL
                  span {{b.status.totalRows}}
                div
                  button(ng-if="b.state === 'DONE' || b.state === 'FAILED'" class="btn btn-xs" ng-click="reprocess(b.id)" title="Käsittele uudelleen")
                    span(class="glyphicon glyphicon-repeat")

            tr(ng-repeat-end)
              td(class="nobordertop" colspan="5")
                div(class="alert alert-alert-danger" ng-if="hasMessages(b)")
                  dl(class="varoitukset")
                    dt(ng-repeat-start="(key, errs) in b.status.messages")
                      span(oph-msg="suoritusrekisteri.tiedonsiirtotila.tunniste") Tunniste
                      span {{key}}:
                    dd(ng-repeat-end)
                      div(ng-repeat="err in errs") {{err}}

div(ng-if="loading" class="modal fade in" style="display: block")
  div(class="modal-backdrop in" style="height: 100%")
  div(class="modal-dialog" style="margin-top: 300px;")
    div(class="modal-content")
      div(class="modal-header")
        h4(class="modal-title")
      div(class="modal-body")
        div(class="loading-td loading-large")