ul(class="nav nav-tabs nav-stacked")
  li(ng-repeat="m in menu" data-requires-role="{{m.role}}" class="{{isActive(m.path) ? 'active' : ''}}")
    a(href="{{m.href}}" oph-msg="{{m.messageKey}}") {{m.text}}
