div(class="row")
  div(class="col-md-2")
    tiedonsiirtomenu

  div(class="col-md-10")
    h2(oph-msg="suoritusrekisteri.tiedonsiirto.tiedonsiirto") Tiedonsiirto
    div(class="row")
      div(class="col-sm-12")
        p(oph-msg="suoritusrekisteri.tiedonsiirto.ohje") Valitse tiedosto koneeltasi ja paina Lähetä-nappia. Saat ilmoituksen tiedoston vastaanottamisesta sivun alalaitaan.
        ul(class="list-unstyled")
          li
            a(href="perusaste-henkilot.xls" oph-msg="suoritusrekisteri.tiedonsiirto.excelpohja") Excel-pohja tiedonsiirtoa varten
          li
            a(href="perusaste-henkilot.xml" oph-msg="suoritusrekisteri.tiedonsiirto.xmlpohja") XML-tiedoston esimerkki tiedonsiirtoa varten
          li
            a(href="rest/v1/siirto/perustiedot/schema/perustiedot.xsd" oph-msg="suoritusrekisteri.tiedonsiirto.xmlskeema") XML-skeema XML-tiedoston validointia varten
          li
            a(href="rest/v1/siirto/perustiedot/schema/perustiedot-koodisto.xsd" oph-msg="suoritusrekisteri.tiedonsiirto.xmlkoodistoskeema") XML-koodistoskeema XML-tiedoston validointia varten

    div(class="row")
      div(class="col-sm-12")
        form(id="uploadForm" class="well form-horizontal" action="rest/v1/siirto/perustiedot" ng-upload="uploadComplete(content)" enctype="multipart/form-data")
          div(class="form-group")
            label(for="tiedosto" class="col-sm-2 control-label" oph-msg="suoritusrekisteri.tiedonsiirto.tiedosto") Lähetettävä tiedosto
            div(class="col-sm-5")
              input(id="tiedosto" class="form-control" name="data" type="file" required="required")

          div(class="form-group")
            div(class="col-sm-10 col-sm-offset-2")
              button(class="btn btn-default" type="button" ng-click="reset()")
                span(oph-msg="suoritusrekisteri.tiedonsiirto.tyhjenna") Tyhjennä
                span(class="glyphicon glyphicon-remove")
              button(class="btn btn-primary" type="button" upload-submit ng-click="send()")
                span(oph-msg="suoritusrekisteri.tiedonsiirto.laheta") Lähetä
                span(class="glyphicon glyphicon-upload")

    div(ng-show="uploadResult")
      div(class="alert alert-{{uploadResult.type}}")
        img(ng-show="uploadResult.type === 'success'" class="icon-big" src="static/img/confirm-icon28x29.png")
        img(ng-show="uploadResult.type === 'danger'" class="icon-big" src="static/img/alert-icon28x29.png")
        strong
          span(oph-msg="{{uploadResult.messageKey}}") {{uploadResult.message}}
        span {{uploadResult.description}}
        div(ng-repeat="e in uploadResult.validationErrors track by $index") {{e}}

    div(ng-if="sending" class="modal fade in" style="display: block")
      div(class="modal-backdrop fade in")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            h4(class="modal-title" oph-msg="suoritusrekisteri.tiedonsiirto.tiedostoalahetetaan") Tiedostoa lähetetään...
          div(class="modal-body")
            div(class="loading-td loading-large")
