form(ng-submit="save()")
  div(class="modal-header")
    button(type="button" class="close" ng-click="modalInstance.close()" aria-hidden="true") &times;
    h4(class="modal-title" oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.otsikko") Muokkaa YO-arvosanoja
  table(class="table table-condensed table-striped")
    thead
      th(oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.koe") Koe
      th(oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.arvosana") Arvosana
      th(oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.aineyhdistelmarooli") Aineyhdistelmärooli
    tbody
      tr(ng-repeat="a in arvosanataulukko")
        td
          select(class="form-control input-sm" ng-model="a.koe" required="required" ng-options="k.value as k.text for k in kokeet")
        td
          select(class="form-control input-sm" ng-model="a.arvosana" required="required" ng-options="a.value as a.text for a in arvosanat")
        td
          select(class="form-control input-sm" ng-model="a.aineyhdistelmarooli" required="required" ng-options="a.value as a.text for a in aineyhdistelmaroolit")
      tr(ng-show="arvosanataulukko.length == 0")
        td(class="loading-td" colspan="3")
          div(class="loading-large")
  div(class="modal-footer")
    button(type="button" class="btn btn-default" ng-click="cancel()")
      span(oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.peruuta") Peruuta
      span(class="glyphicon glyphicon-remove")
    button(type="submit" class="btn btn-primary")
      span(oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.tallenna") Tallenna
      span(class="glyphicon glyphicon-saved")