form(ng-submit="save()")
  div(class="modal-header")
    button(type="button" class="close" ng-click="modalInstance.close()" aria-hidden="true") &times;
    h4(class="modal-title" oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.otsikko") Muokkaa YO-arvosanoja
  table(class="table table-condensed table-striped")
    thead
      th(oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.koe") Koe
      th(oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.arvosana") Arvosana
      th(oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.arvosananpisteet") Arvosanan pisteet
      th(oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.tutkintokerta") Tutkintokerta
      th
    tbody
      tr(ng-repeat="a in arvosanataulukko")
        td
          select(class="form-control input-sm" ng-model="a.koe" required="required" ng-options="k.value as k.text for k in kokeet" ng-disabled="a.delete")
        td
          select(class="form-control input-sm" ng-model="a.arvosana" required="required" ng-options="a.value as a.text for a in arvosanat" ng-disabled="a.delete")
        td
          input(class="form-control input-sm" ng-model="a.pisteet" ng-disabled="a.delete")
        td
          select(class="form-control input-sm" ng-model="a.tutkintokerta" required="required" ng-options="t.value as t.text for t in tutkintokerrat" ng-disabled="a.delete")
        td
          button(type="button" class="btn btn-default btn-xs" ng-click="a.delete = true" ng-disabled="a.delete")
            span(oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.poista") Poista
            span(class="glyphicon glyphicon-remove")
      tr
        td(colspan="3")
          button(type="button" class="btn btn-default btn-xs" ng-click="arvosanataulukko.push({})")
            span(oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.lisaauusikoe") Lisää uusi koe
            span(class="glyphicon glyphicon-plus")
      tr(ng-show="loading")
        td(class="loading-td" colspan="3")
          div(class="loading-large")
  div(class="modal-footer")
    button(type="button" class="btn btn-default" ng-click="cancel()")
      span(oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.peruuta") Peruuta
      span(class="glyphicon glyphicon-remove")
    button(type="submit" class="btn btn-primary")
      span(oph-msg="suoritusrekisteri.muokkaa.yoarvosanat.tallenna") Tallenna
      span(class="glyphicon glyphicon-saved")