<form ng-submit="save()">
    <div class="modal-header">
        <button type="button" ng-click="modalInstance.close()" aria-hidden="true" class="close">&times;</button>
        <h4 oph-msg="suoritusrekisteri.muokkaa.arvosanat.otsikko" class="modal-title">Muokkaa arvosanoja</h4>
    </div>
    <table class="table table-condensed table-striped">
        <thead>
        <th oph-msg="suoritusrekisteri.muokkaa.arvosanat.oppiaine">Oppiaine</th>
        <th oph-msg="suoritusrekisteri.muokkaa.arvosanat.lisatieto">Lisätieto (kieli)</th>
        <th oph-msg="suoritusrekisteri.muokkaa.arvosanat.arvosana">Arvosana</th>
        <th oph-msg="suoritusrekisteri.muokkaa.arvosanat.valinnainen">Valinnainen</th>
        <th oph-msh="suoritusrekisteri.muokkaa.arvosanat.toinenvalinnainen">Toinen valinnainen</th>
        </thead>
        <tbody>
        <tr ng-repeat="a in arvosanataulukko">
            <td>{{a.aineNimi || a.aine}}</td>
            <td>
                <select ng-show="a.aine == 'AI'" ng-model="a.lisatieto" ng-options="k.value as k.text for k in aidinkieli" required="required" class="form-control input-sm"></select>
                <select ng-show="isKielisyys(a.aine)" ng-model="a.lisatieto" ng-options="k.value as k.text for k in kielet" required="required" class="form-control input-sm"></select>
            </td>
            <td>
                <select ng-model="a.arvosana" required="required" ng-options="a.value as a.text for a in arvosanat" class="form-control input-sm"></select>
            </td>
            <td>
                <select ng-show="isValinnainen(a.aine)" ng-model="a.arvosanaValinnainen" ng-options="a.value as a.text for a in arvosanat" class="form-control input-sm"></select>
            </td>
            <td>
                <select ng-show="isValinnainen(a.aine)" ng-model="a.arvosanaToinenValinnainen" ng-options="a.value as a.text for a in arvosanat" class="form-control input-sm"></select>
            </td>
        </tr>
        <tr ng-show="arvosanataulukko.length == 0">
            <td colspan="5" class="loading-td">
                <div class="loading-large"></div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default"><span oph-msg="suoritusrekisteri.muokkaa.arvosanat.peruuta">Peruuta</span><span class="glyphicon glyphicon-remove"></span></button>
        <button type="submit" class="btn btn-primary"><span oph-msg="suoritusrekisteri.muokkaa.arvosanat.tallenna">Tallenna</span><span class="glyphicon glyphicon-saved"></span></button>
    </div>
</form>