<div class="row"></div>
<div class="col-md-2"></div>
<tiedonsiirtomenu></tiedonsiirtomenu>
<div class="col-md-10"></div>
<h3 oph-msg="suoritusrekisteri.hakeneet.otsikko">Muodosta hakeneiden ja valituttujen opiskelijoiden siirtotiedosto</h3>
<messages></messages>
<form ng-submit="search()" class="well form-horizontal"></form>
<fieldset></fieldset>
<div class="form-group"></div>
<label for="kausi" oph-msg="suoritusrekisteri.hakeneet.hakukausi" class="col-sm-2 control-label">Hakukausi</label>
<div class="col-sm-2"></div>
<select id="kausi" ng-model="kausi" ng-options="k as k.text for k in kaudet" class="form-control"></select>
<div class="form-group"></div>
<label for="haku" oph-msg="suoritusrekisteri.hakeneet.haku" class="col-sm-2 control-label">Haku</label>
<div class="col-sm-10"></div>
<select id="haku" ng-model="haku" ng-change="clearHakukohde()"
        ng-options="hk as hk.text group by (hk.vuosi + ' ' + hk.hakukausi) for hk in haut | filter:hakuFilter"
        class="form-control"></select>
<div class="form-group"></div>
<label oph-msg="suoritusrekisteri.hakeneet.organisaatio" class="col-sm-2 control-label">Organisaatio</label>
<div class="col-sm-6"></div><span ng-show="organisaatio">{{organisaatio.nimi.fi || organisaatio.nimi.sv}}</span>
<button type="button" ng-click="avaaOrganisaatiohaku()" class="btn btn-sm btn-default">Valitse organisaatio</button>
<div class="form-group"></div>
<label for="hakukohde" oph-msg="suoritusrekisteri.hakeneet.hakukohde" class="col-sm-2 control-label">Hakukohde</label>
<div class="col-sm-10"></div>
<input type="text" id="hakukohde" ng-model="hakukohde" autocomplete="off" style="width: 20%"
       placeholder="Etsi hakukohdekoodia"
       typeahead="hkk.koodi as (hkk.koodi + ' ' + hkk.nimi) for hkk in searchHakukohdekoodi($viewValue) | filter:$viewValue | limitTo:20"
       typeahead-on-select="setHakukohdenimi()" class="form-control col-sm-2"/><span id="hakukohdenimi"
                                                                                     class="pull-left col-sm-8">{{hakukohdenimi}}</span>
<div class="form-group"></div>
<label for="hakuehto" oph-msg="suoritusrekisteri.hakeneet.hakuehto" class="col-sm-2 control-label">Hakuehto</label>
<div class="col-sm-4"></div>
<select id="hakuehto" ng-model="hakuehto" ng-options="he.value as he.text for he in hakuehdot"
        class="form-control"></select>
<div class="form-group"></div>
<label for="tiedostotyyppi" oph-msg="suoritusrekisteri.hakeneet.tyyppi"
       class="col-sm-2 control-label">Tiedostotyyppi</label>
<div class="col-sm-2"></div>
<select id="tiedostotyyppi" ng-model="tiedostotyyppi" ng-options="t.value as t.text for t in tiedostotyypit"
        class="form-control"></select>
<div class="form-group"></div>
<div class="col-sm-offset-2 col-sm-10"></div>
<button type="button" ng-click="reset()" class="btn btn-default"></button><span
        oph-msg="suoritusrekisteri.hakeneet.tyhjenna">Tyhjennä</span><span class="glyphicon glyphicon-remove"></span>
<button type="submit" class="btn btn-primary"></button><span
        oph-msg="suoritusrekisteri.hakeneet.hae">Muodosta ja lataa</span><span
        class="glyphicon glyphicon-download"></span>
<div ng-if="fileLoading" style="display: block" class="modal fade in"></div>
<div style="height: 100%" class="modal-backdrop fade in"></div>
<div class="modal-dialog"></div>
<div class="modal-content"></div>
<div class="modal-header"></div>
<h4 oph-msg="suoritusrekisteri.hakeneet.tiedostoamuodostetaan" class="modal-title">Tiedostoa muodostetaan...</h4>
<div class="modal-body"></div>
<div class="loading-td loading-large"></div>