<div ng-if="messages" ng-repeat="message in messages" class="alert alert-{{message.type}} message">
    <button type="button" aria-hidden="true" ng-click="removeMessage(message)" class="close">&times;</button>
    <strong>
        <img ng-show="message.type == 'alert'" src="static/img/alert-icon28x29.png" class="icon-big"/>
        <img ng-show="message.type == 'success'" src="static/img/confirm-icon28x29.png" class="icon-big"/>
        <span oph-msg="{{message.messageKey}}">{{message.message}}</span>
    </strong>
    <span oph-msg="{{message.descriptionKey}}">{{message.description}}</span>
</div>