<form ng-submit="saveArvosanat()"></form>
<button type="button" ng-click="showKorotus()" class="btn btn-default btn-xs test-showKorotus" ng-disabled="korotusRivi">
    <span oph-msg="lisaaKorotus">Lisää korotus</span>
    <span class="glyphicon glyphicon-plus"></span>
</button>

<table ng-show="korotusRivi" class="table table-condensed">
    <thead>
    <tr>
        <th oph-msg="suoritusrekisteri.muokkaa.arvosanat.oppiaine">Oppiaine</th>
        <th oph-msg="paivamaara">Päivämäärä</th>
        <th oph-msg="suoritusrekisteri.muokkaa.arvosanat.lisatieto">Lisätieto (kieli)</th>
        <th oph-msg="suoritusrekisteri.muokkaa.arvosanat.arvosana">Arvosana</th>
        <th ng-show="korotusRivi.valinnaiset.length > 0" oph-msg="suoritusrekisteri.muokkaa.arvosanat.valinnainen" class="test-valinnaiset-header">1.&nbsp;valinnainen</th>
        <th ng-show="korotusRivi.valinnaiset.length > 1" oph-msg="suoritusrekisteri.muokkaa.arvosanat.toinenvalinnainen" class="test-valinnaiset-header">2.&nbsp;valinnainen</th>
        <th ng-show="korotusRivi.valinnaiset.length > 2" oph-msg="suoritusrekisteri.muokkaa.arvosanat.toinenvalinnainen" class="test-valinnaiset-header">3.&nbsp;valinnainen</th>
    </tr>
    </thead>
    <tbody>
    <tr class="oddRow test-aineRivi">
        <td>
            <select ng-model="korotusRivi.aine" ng-options="k.aine as k.text for k in korotusAineet"
                    class="form-control input-sm"></select>
        </td>
        <td>
            <input type="text" ng-disabled="info.delete" ng-model="korotusRivi.myonnetty"
                   title="{{ translate('syotaPaivamaaraMuodossa') }}"
                   datepicker-popup="{{format}}" date-disabled="isKorotusDateInvalid(date, mode)"
                   datepicker-options="dateOptions" datepicker-append-to-body="true" is-open="korotusOpen"
                   ng-click="korotusOpen = true" show-button-bar="false"
                   class="form-control input-sm datepicker test-korotusPvm"/>
        </td>
        <td>
            <select ng-show="korotusRivi.aine == 'AI'" ng-model="korotusRivi.lisatieto"
                    ng-options="k.value as k.text for k in aidinkieli"
                    class="form-control input-sm"></select>
            <select ng-show="korotusRivi.hasKielisyys" ng-model="korotusRivi.lisatieto"
                    ng-options="k.value as k.text for k in kielet"
                    class="form-control input-sm"></select>
        </td>
        <td><span ng-repeat="pakollinen in korotusRivi.pakolliset">
      <select ng-model="pakollinen.arvio.arvosana" required="required"
              ng-options="a.value as a.text for a in arvosanat" class="form-control test-arvosanaSelect"></select></span>
        </td>
        <td style="white-space: nowrap;">
            <select ng-show="korotusRivi.valinnaiset[0]" ng-model="korotusRivi.valinnaiset[0].arvio.arvosana"
                    required="required" ng-options="a.value as a.text for a in arvosanat"
                    class="form-control test-arvosanaSelect"></select>
        </td>
        <td style="white-space: nowrap;">
            <select ng-show="korotusRivi.valinnaiset[1]" ng-model="korotusRivi.valinnaiset[1].arvio.arvosana"
                    required="required" ng-options="a.value as a.text for a in arvosanat"
                    class="form-control test-arvosanaSelect"></select>
        </td>
        <td style="white-space: nowrap;">
            <select ng-show="korotusRivi.valinnaiset[2]" ng-model="korotusRivi.valinnaiset[2].arvio.arvosana"
                    required="required" ng-options="a.value as a.text for a in arvosanat"
                    class="form-control test-arvosanaSelect"></select>
        </td>
    </tr>
    </tbody>
</table>

<button type="button" ng-click="editArvosanat()" class="btn btn-default btn-xs test-editArvosanat"
        ng-disabled="info.editable || editSuoritusDisabled(suoritus)">
    <span oph-msg="korjaaNykyisiaArvosanoja">Korjaa nykyisiä arvosanoja</span>
</button>

<table class="table table-condensed">
    <thead>
    <tr>
        <th oph-msg="suoritusrekisteri.muokkaa.arvosanat.oppiaine">Oppiaine</th>
        <th oph-msg="suoritusrekisteri.muokkaa.arvosanat.lisatieto">Lisätieto (kieli)</th>
        <th oph-msg="suoritusrekisteri.muokkaa.arvosanat.arvosana">Arvosana</th>
        <th ng-show="maxValinnainenCount > 0" oph-msg="suoritusrekisteri.muokkaa.arvosanat.valinnainen" class="test-valinnaiset-header">1.&nbsp;valinnainen</th>
        <th ng-show="maxValinnainenCount > 1" oph-msg="suoritusrekisteri.muokkaa.arvosanat.toinenvalinnainen" class="test-valinnaiset-header">2.&nbsp;valinnainen</th>
        <th ng-show="maxValinnainenCount > 2" oph-msg="suoritusrekisteri.muokkaa.arvosanat.toinenvalinnainen" class="test-valinnaiset-header">3.&nbsp;valinnainen</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="aineRivi in suorituksenArvosanataulukko" class="{{aineRivi.rowClass}} test-aineRivi">
        <td class="test-arvosanaAine"><span class="test-aineNimi">{{aineRivi.aineNimi || aineRivi.aine}}</span>
            <span class="test-arvosanaMyonnetty" ng-show="aineRivi.myonnetty">({{aineRivi.myonnetty}})</span></td>
        <td ng-show="info.editable">
            <select ng-show="aineRivi.aine == 'AI'" ng-model="aineRivi.lisatieto"
                    ng-options="k.value as k.text for k in aidinkieli"
                    class="form-control input-sm smallInline"></select>
            <select ng-show="aineRivi.hasKielisyys" ng-model="aineRivi.lisatieto"
                    ng-options="k.value as k.text for k in kielet" class="form-control input-sm smallInline"></select>
        </td>
        <td ng-show="info.editable"><span ng-repeat="pakollinen in aineRivi.pakolliset">
          <select ng-model="pakollinen.arvio.arvosana" required="required"
                  ng-options="a.value as a.text for a in arvosanat | orderBy: arvosanatCustomSort"
                  class="form-control smallInline test-arvosanaSelect"></select></span></td>
        <td ng-show="info.editable" style="white-space: nowrap;">
            <select ng-show="aineRivi.valinnaiset[0]" ng-model="aineRivi.valinnaiset[0].arvio.arvosana"
                    required="required" ng-options="a.value as a.text for a in arvosanat | orderBy: arvosanatCustomSort"
                    class="form-control smallInline test-arvosanaSelect"></select>
        </td>
        <td ng-show="info.editable" style="white-space: nowrap;">
            <select ng-show="aineRivi.valinnaiset[1]" ng-model="aineRivi.valinnaiset[1].arvio.arvosana"
                    required="required" ng-options="a.value as a.text for a in arvosanat | orderBy: arvosanatCustomSort"
                    class="form-control smallInline test-arvosanaSelect"></select>
        </td>
        <td ng-show="info.editable" style="white-space: nowrap;">
            <select ng-show="aineRivi.valinnaiset[2]" ng-model="aineRivi.valinnaiset[2].arvio.arvosana"
                    required="required" ng-options="a.value as a.text for a in arvosanat | orderBy: arvosanatCustomSort"
                    class="form-control smallInline test-arvosanaSelect"></select>
        </td>
        <td ng-hide="info.editable"><span ng-show="aineRivi.hasArvosana && (aineRivi.hasKielisyys || aineRivi.aine == 'AI')" class="test-arvosanaLisatieto">{{aineRivi.lisatietoText || "Kieli puuttuu!!"}}</span>
        </td>
        <td ng-hide="info.editable"><span ng-repeat="pakollinen in aineRivi.pakolliset" class="test-arvosanaPakollinenArvosana">{{pakollinen.arvio.arvosana}}</span>
        </td>
        <td ng-hide="info.editable" class="test-arvosanaValinnainenArvosana" style="white-space: nowrap;">{{aineRivi.valinnaiset[0].arvio.arvosana}}</td>
        <td ng-hide="info.editable" class="test-arvosanaValinnainenArvosana" style="white-space: nowrap;">{{aineRivi.valinnaiset[1].arvio.arvosana}}</td>
        <td ng-hide="info.editable" class="test-arvosanaValinnainenArvosana" style="white-space: nowrap;">{{aineRivi.valinnaiset[2].arvio.arvosana}}</td>
    </tr>
    </tbody>
</table>
