<div class="row">
    <div class="col-sm-12">
        <section class="panel panel-default">
            <header class="panel-heading">
                <h2 oph-msg="suoritusrekisteri.muokkaa.henkilotiedot" id="henkiloTiedot" class="panel-title">Henkilötiedot</h2>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <div><strong oph-msg="suoritusrekisteri.muokkaa.henkilotunnus">Henkilötunnus /
                            syntymäaika</strong></div>
                        <div><span class="test-hetu">{{henkilo.hetu || henkilo.syntymaaika}}</span><strong ng-if="henkilo.duplicate">(DUPLIKAATTI)</strong>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div><strong oph-msg="suoritusrekisteri.muokkaa.sukunimi">Sukunimi</strong></div>
                        <div class="test-sukunimi">{{henkilo.sukunimi}}</div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div><strong oph-msg="suoritusrekisteri.muokkaa.etunimet">Etunimet</strong></div>
                        <div class="test-etunimi">{{henkilo.etunimet}}</div>
                    </div>
                </div>
                <aside><a href="/authentication-henkiloui/html/index.html#/muokkaaoppija/{{henkilo.oidHenkilo}}/"
                          target="_blank" class="btn btn-default btn-xs">
                    <span oph-msg="suoritusrekisteri.muokkaa.henkilotietoja">Muokkaa henkilötietoja</span>
                    <span class="glyphicon glyphicon-edit"></span>
                </a></aside>
            </div>
        </section>
    </div>
</div>
<form ng-submit="saveTiedot()">
    <div class="row">
        <div class="col-sm-12">
            <section ng-if="henkilo.opiskeluoikeudet && henkilo.opiskeluoikeudet.length > 0" class="panel panel-default">
                <header class="panel-heading">
                    <h2 oph-msg="suoritusrekisteri.muokkaa.opiskeluoikeudet"  class="panel-title">Opiskeluoikeudet</h2>
                </header>
                <div class="panel-body">
                    <ul class="list-unstyled entrylist">
                        <li ng-repeat="opiskeluoikeus in henkilo.opiskeluoikeudet">
                            <div class="row">
                                <div class="col-sm-2"><strong
                                        oph-msg="suoritusrekisteri.muokkaa.alkupaiva">Alkupäivä</strong>

                                    <div class="test-opiskeluoikeusAlkuPaiva">{{opiskeluoikeus.aika.alku | date:'dd.MM.yyyy'}}</div>
                                </div>
                                <div class="col-sm-2"><strong
                                        oph-msg="suoritusrekisteri.muokkaa.loppupaiva">Loppupäivä</strong>

                                    <div class="test-opiskeluoikeusLoppuPaiva">{{opiskeluoikeus.aika.loppu | date:'dd.MM.yyyy'}}</div>
                                </div>
                                <div class="col-sm-3"><strong
                                        oph-msg="suoritusrekisteri.muokkaa.myontaja">Myöntäjä</strong>

                                    <div class="test-opiskeluoikeusMyontaja">{{(opiskeluoikeus.organisaatio.oppilaitosKoodi + ' ' +
                                        (opiskeluoikeus.organisaatio.nimi.fi || opiskeluoikeus.organisaatio.nimi.sv ||
                                        opiskeluoikeus.organisaatio.nimi.en)) || opiskeluoikeus.myontaja}}
                                    </div>
                                </div>
                                <div class="col-sm-3"><strong
                                        oph-msg="suoritusrekisteri.muokkaa.koulutus">Koulutus</strong>

                                    <div class="test-opiskeluoikeusKoulutus">{{opiskeluoikeus.koulutus || opiskeluoikeus.komo}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="panel panel-default">
                <header class="panel-heading">
                    <h2 oph-msg="suoritusrekisteri.muokkaa.suoritukset" id="suoritusTiedot" class="panel-title">Suoritukset</h2>
                </header>
                <div class="panel-body">
                    <ul class="list-unstyled entrylist">
                        <li ng-repeat="suoritus in henkilo.suoritukset"
                            class="{{suoritus.delete ? 'delete-suoritus' : ''}}">
                            <div ng-if="!suoritus.vahvistettu" class="alert alert-info">
                                <span ng-if="isFromApplication(suoritus.myontaja)">Suoritus hakijan ilmoittama (Hakemus <a href="{{hakemusLink(suoritus.myontaja)}}">{{suoritus.myontaja}}</a>)</span>
                                <span ng-if="!isFromApplication(suoritus.myontaja)">Suoritus ei ole vahvistettu</span>
                            </div>
                            <div ng-include="'templates/muokkaa-suoritus.html'" ng-controller="MuokkaaSuoritus"></div>
                        </li>
                        <li>
                            <button type="button" ng-click="addSuoritus()" class="btn btn-default btn-xs">
                                <span oph-msg="suoritusrekisteri.muokkaa.uusisuoritus">Lisää uusi suoritus</span>
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div>
        <section class="panel panel-default">
            <header class="panel-heading">
                <h2 oph-msg="suoritusrekisteri.muokkaa.luokkatiedot" id="luokkaTiedot" class="panel-title">Luokkatiedot</h2>
            </header>
            <div class="panel-body">
                <ul class="list-unstyled entrylist">
                    <li ng-repeat="luokkatieto in henkilo.luokkatiedot"
                        class="{{luokkatieto.delete ? 'delete-luokkatieto' : ''}}">
                        <div ng-include="'templates/muokkaa-luokkatieto.html'" ng-controller="MuokkaaLuokkatieto"></div>
                    </li>
                    <li>
                        <button type="button" ng-click="addLuokkatieto()" class="btn btn-default btn-xs">
                            <span oph-msg="suoritusrekisteri.muokkaa.uusiluokkatieto">Lisää uusi luokkatieto</span>
                            <span class="glyphicon glyphicon-plus"></span></button>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div id="save-button" class="row">
        <button type="submit" ng-disabled="disableSave" class="btn btn-primary test-saveButton">
            <span oph-msg="suoritusrekisteri.muokkaa.tallenna">Tallenna</span>
            <span class="glyphicon glyphicon-saved"></span>
        </button>
    </div>
</form>