<form ng-submit="saveArvosanat()"></form>
<table class="table table-condensed table-striped">
    <thead>
    <th oph-msg="suoritusrekisteri.muokkaa.arvosanat.oppiaine">Oppiaine</th>
    <th>Korotus</th>
    <th oph-msg="suoritusrekisteri.muokkaa.arvosanat.lisatieto">Lisätieto (kieli)</th>
    <th oph-msg="suoritusrekisteri.muokkaa.arvosanat.arvosana">Arvosana</th>
    <th oph-msg="suoritusrekisteri.muokkaa.arvosanat.valinnainen">Valinnaisten arvosanat</th>
    </thead>
    <tbody>
    <tr ng-repeat="aineRivi in suorituksenArvosanataulukko">
        <td>{{aineRivi.aineNimi || aineRivi.aine}}</td>
        <td><span ng-show="suoritus.valmistuminen != aineRivi.myonnetty">{{aineRivi.myonnetty}}</span></td>
        <td>
            <select ng-show="aineRivi.aine == 'AI'" ng-model="aineRivi.lisatieto"
                    ng-options="k.value as k.text for k in aidinkieli"
                    class="form-control input-sm smallInline"></select>
            <select ng-show="aineRivi.hasKielisyys" ng-model="aineRivi.lisatieto"
                    ng-options="k.value as k.text for k in kielet" class="form-control input-sm smallInline"></select>
        </td>
        <td><span ng-repeat="pakollinen in aineRivi.pakolliset">
          <select ng-model="pakollinen.arvio.arvosana" required="required"
                  ng-options="a.value as a.text for a in arvosanat" class="form-control smallInline"></select></span>
        </td>
        <td style="white-space: nowrap;"><span ng-repeat="valinnainen in aineRivi.valinnaiset">
          <select ng-model="valinnainen.arvio.arvosana" required="required"
                  ng-options="a.value as a.text for a in arvosanat" class="form-control smallInline"></select></span>
        </td>
    </tr>
    </tbody>
</table>
<div ng-show="info.editable" class="input-group">
    <select ng-model="info.korotusAine" ng-options="k.aine as k.text for k in korotusAineet"
            class="form-control input-sm smallInline"></select>
</div>
<div ng-show="info.editable" class="input-group">
    <input type="text" ng-disabled="info.delete" ng-model="info.korotusPvm"
           title="Syötä päivä muodossa 1.1.2014 (ilman etunollia)" datepicker-popup="{{format}}"
           datepicker-options="dateOptions" datepicker-append-to-body="true" is-open="korotusOpen"
           ng-click="korotusOpen = true" show-button-bar="false"
           class="form-control input-sm datepicker smallInline"/><span class="input-group-btn">
    <button type="button" ng-click="info.korotusPvm = null" class="btn btn-default btn-sm"><span
            class="glyphicon glyphicon-remove"></span></button></span>
</div>
<div ng-show="info.editable" class="input-group">
    <button type="button" ng-click="addKorotus()" class="btn btn-default btn-xs"><span>Lisää uusi korotus</span><span
            class="glyphicon glyphicon-plus"></span></button>
</div>