<div class="row">
    <div class="col-md-2">
        <tiedonsiirtomenu></tiedonsiirtomenu>
    </div>
    <div class="col-md-10">
        <h2 oph-msg="suoritusrekisteri.tiedonsiirto.tiedonsiirto">Tiedonsiirto</h2>
        <messages></messages>
        <div class="row">
            <div class="col-sm-12">
                <p oph-msg="suoritusrekisteri.tiedonsiirto.ohje">Valitse tiedosto koneeltasi ja paina Lähetä-nappia.
                    Saat ilmoituksen tiedoston vastaanottamisesta sivun alalaitaan.</p>
                <h4 oph-msg="suoritusrekisteri.tiedonsiirto.perustiedot">Perustiedot</h4>
                <ul class="list-unstyled">
                    <li><a href="henkilot.xls" oph-msg="suoritusrekisteri.tiedonsiirto.excelpohja">Excel-pohja
                        tiedonsiirtoa varten</a></li>
                    <li><a href="henkilot.xml" oph-msg="suoritusrekisteri.tiedonsiirto.xmlpohja">XML-tiedoston esimerkki
                        tiedonsiirtoa varten</a></li>
                    <li><a href="rest/v1/siirto/perustiedot/schema/perustiedot.xsd"
                           oph-msg="suoritusrekisteri.tiedonsiirto.xmlskeema">XML-skeema validointia varten</a></li>
                    <li><a href="rest/v1/siirto/perustiedot/schema/perustiedot-koodisto.xsd"
                           oph-msg="suoritusrekisteri.tiedonsiirto.xmlkoodistoskeema">XML-koodistoskeema validointia
                        varten</a></li>
                </ul>
                <h4 oph-msg="suoritusrekisteri.tiedonsiirto.arvosanat">Arvosanat</h4>
                <ul class="list-unstyled">
                    <li><a href="arvosanat.xls" oph-msg="suoritusrekisteri.tiedonsiirto.excelpohja">Excel-pohja
                        tiedonsiirtoa varten</a></li>
                    <li><a href="arvosanat.xml" oph-msg="suoritusrekisteri.tiedonsiirto.xmlpohja">XML-tiedoston
                        esimerkki tiedonsiirtoa varten</a></li>
                    <li><a href="rest/v1/siirto/arvosanat/schema/arvosanat.xsd"
                           oph-msg="suoritusrekisteri.tiedonsiirto.xmlskeema">XML-skeema validointia varten</a></li>
                    <li><a href="rest/v1/siirto/arvosanat/schema/arvosanat-koodisto.xsd"
                           oph-msg="suoritusrekisteri.tiedonsiirto.xmlkoodistoskeema">XML-koodistoskeema validointia
                        varten</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form id="uploadForm" action="rest/v1/siirto/" ng-upload="uploadComplete(content)"
                      upload-options-convert-hidden="true" upload-options-before-submit="beforeSubmitCheck()"
                      enctype="multipart/form-data" method="post" class="well form-horizontal">
                    <div class="form-group">
                        <label oph-msg="suoritusrekisteri.tiedonsiirto.tyyppi" class="col-sm-2 control-label">Tiedoston
                            tyyppi</label>

                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input id="tyyppiperustiedot" type="radio" ng-model="tyyppi" value="perustiedot"/><span
                                    oph-msg="suoritusrekisteri.tiedonsiirto.tyyppi.perustiedot">Perustiedot</span>
                            </label>
                            <label class="radio-inline">
                                <input id="tyyppiarvosanat" type="radio" ng-model="tyyppi" value="arvosanat"/><span
                                    oph-msg="suoritusrekisteri.tiedonsiirto.tyyppi.arvosanat">Arvosanat</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tiedosto" oph-msg="suoritusrekisteri.tiedonsiirto.tiedosto"
                               class="col-sm-2 control-label">Lähetettävä tiedosto</label>

                        <div class="col-sm-10">
                            <input id="tiedosto" ng-disabled="!tyyppi" name="data" type="file" class="form-control" onchange="angular.element(this).scope().validateXmlFile()"/>
                        </div>
                    </div>
                    <div ng-repeat="virhe in validointiVirheet" class="form-group validation-error">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10" ng-if="virhe.count > 3">
                            <span oph-msg="suoritusrekisteri.tiedonsiirto.varoitus">Varoitus!</span>
                            <span class="count">{{ virhe.count }}</span>
                            <span oph-msg="suoritusrekisteri.tiedonsiirto.oppilasta">oppilasta</span>

                            /
                            {{ virhe.ruleId }}
                        </div>
                        <div class="col-sm-10" ng-if="virhe.count <= 3">
                            <span oph-msg="suoritusrekisteri.tiedonsiirto.varoitus">Varoitus!</span>
                            <span class="name" ng-repeat="todistus in virhe.todistukset">{{todistus.suoritus.oppija.kutsumanimi}} {{todistus.suoritus.oppija.sukunimi}}<span class="separator">, </span></span>
                            /
                            {{ virhe.ruleId }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="button" ng-click="reset()" class="btn btn-default">
                                <span oph-msg="suoritusrekisteri.tiedonsiirto.tyhjenna">Tyhjennä</span>
                                <span class="glyphicon glyphicon-remove"></span></button>
                            <button type="submit" class="btn btn-primary">
                                <span oph-msg="suoritusrekisteri.tiedonsiirto.laheta">Lähetä</span>
                                <span class="glyphicon glyphicon-upload"></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div ng-if="uploadResult">
            <div id="uploadResult" class="alert alert-{{uploadResult.type}}"><img
                    ng-show="uploadResult.type === 'success'" src="static/img/confirm-icon28x29.png"
                    class="icon-big"/><img ng-show="uploadResult.type === 'danger'" src="static/img/alert-icon28x29.png"
                                           class="icon-big"/><strong><span oph-msg="{{uploadResult.messageKey}}">{{uploadResult.message}}</span></strong><span>{{uploadResult.description}}</span>

                <div ng-repeat="e in uploadResult.validationErrors track by $index">{{e}}</div>
            </div>
        </div>
        <div ng-if="sending" style="display: block" class="modal fade in">
            <div style="height: 100%" class="modal-backdrop fade in"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 oph-msg="suoritusrekisteri.tiedonsiirto.tiedostoalahetetaan" class="modal-title">Tiedostoa
                            lähetetään...</h4>
                    </div>
                    <div class="modal-body">
                        <div class="loading-td loading-large"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>