!!! 5
html(ng-app="myApp")
  head
    title(oph-msg="suoritusrekisteri.title") Haku- ja valintarekisteri
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet")
    link(type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.7/ng-grid.css" rel="stylesheet")
    link(type="text/css" href="static/css/styles.css" rel="stylesheet")
    link(type="text/css" href="static/css/css-tyylikirjasto-virkailija.css" rel="stylesheet")
    link(type="text/css" href="static/css/sivumallit.css" rel="stylesheet")
    script(type="text/javascript" src="//code.jquery.com/jquery-1.9.1.min.js")
    script(type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js")
    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.min.js")
    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js")
    script(type="text/javascript" src="static/js/angular-locale/angular-locale_fi.js")
    script(type="text/javascript" src="static/js/angular-ui/ui-bootstrap-tpls-0.10.0.min.js")
    script(type="text/javascript" src="static/js/ng-upload.min.js")
    script(type="text/javascript" src="common-functions.js")
    script(type="text/javascript" src="murupolku-controller.js")
    script(type="text/javascript" src="opiskelijat-controller.js")
    script(type="text/javascript" src="muokkaa-controller.js")
    script(type="text/javascript" src="eihakeneet-controller.js")
    script(type="text/javascript" src="arvosana-controller.js")
    script(type="text/javascript" src="yoarvosana-controller.js")
    script(type="text/javascript" src="duplikaatti-controller.js")
    script(type="text/javascript" src="tiedonsiirto-controller.js")
    script(type="text/javascript" src="app.js")
    script(type="text/javascript" src="oph-msg-directive.js")
    script(type="text/javascript" src="/virkailija-raamit/apply-raamit.js")

  body
    div(class="container")
      div(class="row" ng-controller="MurupolkuCtrl" ng-hide="hideMuru")
        div(class="col-xs-12")
          ul(class="breadcrumb")
            li(ng-repeat="muru in murupolku")
              a(ng-show="muru.href" href="{{muru.href}}")
                span(ng-show="muru.icon" class="{{muru.icon}}")
                span(oph-msg="{{muru.key}}") {{muru.text}}
              span(ng-hide="muru.href" oph-msg="{{muru.key}}") {{muru.text}}

      div(class="row")
        div(class="col-xs-12" ng-view)
