form(ng-submit="save()")
  div(class="modal-header")
    button(type="button" class="close" ng-click="modalInstance.close()" aria-hidden="true") &times;
    h4(class="modal-title" oph-msg="suoritusrekisteri.muokkaa.arvosanat.otsikko") Muokkaa arvosanoja
  table(class="table table-condensed table-striped")
    thead
      th(oph-msg="suoritusrekisteri.muokkaa.arvosanat.oppiaine") Oppiaine
      th(oph-msg="suoritusrekisteri.muokkaa.arvosanat.lisatieto") Lisätieto (kieli)
      th(oph-msg="suoritusrekisteri.muokkaa.arvosanat.arvosana") Arvosana
      th(oph-msg="suoritusrekisteri.muokkaa.arvosanat.valinnainen") Valinnainen
      th(oph-msh="suoritusrekisteri.muokkaa.arvosanat.toinenvalinnainen") Toinen valinnainen
    tbody
      tr(ng-repeat="a in arvosanataulukko")
        td {{a.aineNimi || a.aine}}
        td
          select(ng-show="a.aine == 'AI'" class="form-control input-sm" ng-model="a.lisatieto" ng-options="k.value as k.text for k in aidinkieli" required="required")
          select(ng-show="isKielisyys(a.aine)" class="form-control input-sm" ng-model="a.lisatieto" ng-options="k.value as k.text for k in kielet" required="required")
        td
          select(class="form-control input-sm" ng-model="a.arvosana" required="required" ng-options="a.value as a.text for a in arvosanat")
        td
          select(ng-show="isValinnainen(a.aine)" class="form-control input-sm" ng-model="a.arvosanaValinnainen" ng-options="a.value as a.text for a in arvosanat")
        td
          select(ng-show="isValinnainen(a.aine)" class="form-control input-sm" ng-model="a.arvosanaToinenValinnainen" ng-options="a.value as a.text for a in arvosanat")
      tr(ng-show="arvosanataulukko.length == 0")
        td(class="loading-td" colspan="5")
          div(class="loading-large")