h2(oph-msg="suoritusrekisteri.eihakeneet") Ei hakeneet oppilaat

messages

aside
  a(class="btn btn-primary" href="/haku-app/virkailija/hakemus" role="button")
    span(class="glyphicon glyphicon-arrow-left")
    span(oph-msg="suoritusrekisteri.takaisin") Takaisin

table(class="table")
  thead
    tr
      th(oph-msg="suoritusrekisteri.sukunimi") Sukunimi
      th(oph-msg="suoritusrekisteri.etunimet") Etunimet
      th(oph-msg="suoritusrekisteri.oppilaitos") Oppilaitos
      th(oph-msg="suoritusrekisteri.luokka") Luokka
  tbody
    tr(ng-repeat="row in allRows")
      td {{row.sukunimi}}
      td {{row.etunimet}}
      td {{row.oppilaitos}}
      td {{row.luokka}}
    tr(ng-show="loading")
      td(class="loading-td" colspan="4")
        div(class="loading-large")
