h2(oph-msg="suoritusrekisteri.muokkaa.muokkaatietoja") Muokkaa opiskelijan suorituksia

messages

div(class="row")
  aside(class="col-sm-12 btn-toolbar")
    button(type="button" class="btn btn-primary" ng-click="back()")
      span(oph-msg="suoritusrekisteri.muokkaa.takaisin") Takaisin
      span(class="glyphicon glyphicon-arrow-left")