form(ng-submit="saveArvosanat()")
table(class="table table-condensed table-striped")
  thead
    th(oph-msg="suoritusrekisteri.muokkaa.arvosanat.oppiaine") Oppiaine
    th() Korotus
    th(oph-msg="suoritusrekisteri.muokkaa.arvosanat.lisatieto") Lisätieto (kieli)
    th(oph-msg="suoritusrekisteri.muokkaa.arvosanat.arvosana") Arvosana
    th(oph-msg="suoritusrekisteri.muokkaa.arvosanat.valinnainen") Valinnaisten arvosanat
  tbody
    tr(ng-repeat="aineRivi in suorituksenArvosanataulukko")
      td {{aineRivi.aineNimi || aineRivi.aine}}
      td
        span(ng-show="suoritus.valmistuminen != aineRivi.myonnetty") {{aineRivi.myonnetty}}
      td
        select(ng-show="aineRivi.aine == 'AI'" class="form-control input-sm smallInline" ng-model="aineRivi.lisatieto" ng-options="k.value as k.text for k in aidinkieli")
        select(ng-show="aineRivi.hasKielisyys" class="form-control input-sm smallInline" ng-model="aineRivi.lisatieto" ng-options="k.value as k.text for k in kielet")
      td
        span(ng-repeat="pakollinen in aineRivi.pakolliset")
          select(class="form-control smallInline" ng-model="pakollinen.arvio.arvosana" required="required" ng-options="a.value as a.text for a in arvosanat")
      td(style="white-space: nowrap;")
        span(ng-repeat="valinnainen in aineRivi.valinnaiset")
          select(class="form-control smallInline" ng-model="valinnainen.arvio.arvosana" required="required" ng-options="a.value as a.text for a in arvosanat")
