div(class="row")
  div(class="col-sm-12")
    section(class="panel panel-default")
      header(class="panel-heading")
        h2(class="panel-title" oph-msg="suoritusrekisteri.muokkaa.henkilotiedot") Henkilötiedot
      div(class="panel-body")
        div(class="row")
          div(class="form-group col-sm-4")
            div
              strong(oph-msg="suoritusrekisteri.muokkaa.henkilotunnus") Henkilötunnus / syntymäaika
            div 
              span {{henkilo.hetu || henkilo.syntymaaika}}
              strong(ng-if="henkilo.duplicate") (DUPLIKAATTI)
          div(class="form-group col-sm-4")
            div
              strong(oph-msg="suoritusrekisteri.muokkaa.sukunimi") Sukunimi
            div {{henkilo.sukunimi}}
          div(class="form-group col-sm-4")
            div
              strong(oph-msg="suoritusrekisteri.muokkaa.etunimet") Etunimet
            div {{henkilo.etunimet}}
        aside
          a(class="btn btn-default btn-xs" href="/authentication-henkiloui/html/index.html#/muokkaaoppija/{{henkilo.oidHenkilo}}/" target="_blank")
            span(oph-msg="suoritusrekisteri.muokkaa.henkilotietoja") Muokkaa henkilötietoja
            span(class="glyphicon glyphicon-edit")

form(ng-submit="saveTiedot()")
  div(class="row")
    div(class="col-sm-12")
      section(ng-if="opiskeluoikeudet && opiskeluoikeudet.length > 0" class="panel panel-default")
        header(class="panel-heading")
          h2(class="panel-title" oph-msg="suoritusrekisteri.muokkaa.opiskeluoikeudet") Opiskeluoikeudet
        div(class="panel-body")
          ul(class="list-unstyled entrylist")
            li(ng-repeat="opiskeluoikeus in henkilo.opiskeluoikeudet")
              div(class="row")
                div(class="col-sm-2")
                  strong(oph-msg="suoritusrekisteri.muokkaa.alkupaiva") Alkupäivä
                  div {{opiskeluoikeus.aika.alku | date:'dd.MM.yyyy'}}
                div(class="col-sm-2")
                  strong(oph-msg="suoritusrekisteri.muokkaa.loppupaiva") Loppupäivä
                  div {{opiskeluoikeus.aika.loppu | date:'dd.MM.yyyy'}}
                div(class="col-sm-3")
                  strong(oph-msg="suoritusrekisteri.muokkaa.myontaja") Myöntäjä
                  div {{(opiskeluoikeus.organisaatio.oppilaitosKoodi + ' ' + (opiskeluoikeus.organisaatio.nimi.fi || opiskeluoikeus.organisaatio.nimi.sv || opiskeluoikeus.organisaatio.nimi.en)) || opiskeluoikeus.myontaja}}
                div(class="col-sm-3")
                  strong(oph-msg="suoritusrekisteri.muokkaa.koulutus") Koulutus
                  div {{opiskeluoikeus.koulutus || opiskeluoikeus.komo}}
      section(class="panel panel-default")
        header(class="panel-heading")
          h2(class="panel-title" oph-msg="suoritusrekisteri.muokkaa.suoritukset") Suoritukset
        div(class="panel-body")
          ul(class="list-unstyled entrylist")
            li(ng-repeat="suoritus in henkilo.suoritukset" class="{{suoritus.delete ? 'delete-suoritus' : ''}}")
              div(ng-include="'templates/muokkaa-suoritus'" ng-controller="MuokkaaSuoritus")
            li
              button(type="button" class="btn btn-default btn-xs" ng-click="addSuoritus()")
                span(oph-msg="suoritusrekisteri.muokkaa.uusisuoritus") Lisää uusi suoritus
                span(class="glyphicon glyphicon-plus")

  div()
    section(class="panel panel-default")
      header(class="panel-heading")
        h2(class="panel-title" oph-msg="suoritusrekisteri.muokkaa.luokkatiedot") Luokkatiedot
      div(class="panel-body")
        ul(class="list-unstyled entrylist")
          li(ng-repeat="luokkatieto in henkilo.luokkatiedot" class="{{luokkatieto.delete ? 'delete-luokkatieto' : ''}}")
            div(ng-include="'templates/muokkaa-luokkatieto'" ng-controller="MuokkaaLuokkatieto")
          li
            button(type="button" class="btn btn-default btn-xs" ng-click="addLuokkatieto()")
              span(oph-msg="suoritusrekisteri.muokkaa.uusiluokkatieto") Lisää uusi luokkatieto
              span(class="glyphicon glyphicon-plus")

  div(class="row" id="save-button")
    button(type="submit" class="btn btn-primary")
      span(oph-msg="suoritusrekisteri.muokkaa.tallenna") Tallenna
      span(class="glyphicon glyphicon-saved")