h2(id="application-name") Suoritusrekisteri


script(type="text/ng-template" id="organisaatioTemplate.html")
  a
    span(bind-html-unsafe="(match.model.oppilaitosKoodi + ' ' + (match.model.nimi.fi ? match.model.nimi.fi : (match.model.nimi.sv ? match.model.nimi.sv : match.model.nimi.en))) | typeaheadHighlight:query")

aside(class="row")
  form(id="filterForm" class="well form-horizontal sticky-scroller" style="margin-left: 15px;" ng-submit="search()")
    div(class="form-group")
      div(class="col-sm-12")
        input(id="henkiloTerm" class="form-control" ng-model="henkiloTerm" type="search" placeholder="Hetu tai henkilönumero")
    div(class="form-group")
      div(class="col-sm-12")
        input(id="organisaatioTerm" class="form-control" autocomplete="off" ng-model="organisaatioTerm" type="search"
        placeholder="Oppilaitoksen numero tai nimi"
        typeahead="organisaatio as organisaatio.nimi.fi for organisaatio in getOppilaitos($viewValue) | filter:$viewValue | limitTo:10"
        typeahead-loading="loadingOppilaitos" typeahead-wait-ms="300" typeahead-template-url="organisaatioTemplate.html")
    div(class="form-group")
      div(class="col-sm-6")
        select(id="vuosiTerm" class="form-control" ng-model="vuosiTerm" ng-options="v for v in vuodet")
    div(class="form-group")
      div(class="col-sm-12")
        button(class="btn btn-default" type="button" ng-click="reset()")
          span(oph-msg="suoritusrekisteri.opiskelijat.tyhjenna") Tyhjennä
          span(class="glyphicon glyphicon-remove")
        button(class="btn btn-primary" type="submit")
          span(oph-msg="suoritusrekisteri.opiskelijat.hae") Hae
          span(class="glyphicon glyphicon-search")
    div(class="form-group")
      div(class="col-sm-12")
        div(ng-if="!loading && allRows.length > 0 && henkiloTerm.length == 0")
          input(id="result-filter" ng-model="filterParam" class="form-control" placeholder="Suodata tuloksia" ng-change="resultFilter(filterParam)")
          div(class="checkbox")
            label(for="missingToggleCheckbox")
              input(type="checkbox"  id="missingToggleCheckbox" ng-model="showOnlyPuuttuvat" ng-change="arvosanatPuuttuuFilter()") Näytä vain puuttuvat
    div(class="form-group" id="table-scroller")
      div(class="col-sm-12")
        div(ng-if="loading" id="table-settings")
          div(class="loading-td loading-large")
        div(ng-if="!loading")
          table(class="table table-responsive" typeahead-loading="loadingOppilaitos" id="table-settings")
            tbody
              tr(ng-repeat="row in allRowsFiltered" ng-class="{'table-selected' : row.henkiloOid === valittuHenkiloOid}" ng-click="valitseHenkilo(row.henkiloOid)")
                td() {{row.henkilo}}
                td()
                  span(ng-repeat="o in row.opiskelijat") {{o.luokka}}
                td(ng-if="!row.hasArvosana")
                  span(ng-repeat="o in row.opiskelijat") puuttuu
                td(ng-if="row.hasArvosana")
                  span(ng-repeat="o in row.opiskelijat")

  div(class="col-sm-9 col-sm-offset-3")
    messages(id="status-messages")
    div(ng-if="valittuHenkiloOid")
      div(ng-include="'templates/muokkaa-tiedot'")